In [227]:
import pandas as pd
import numpy as np

'''
Author: Enrico Ceccolini
    Drop the jobs with zero timepoints.
    Split between trainset and testset
'''

datadir = "/datasets/eurora_data/db1/"
datadir = "/datasets/eurora_data/db/" #hdd

#infile_jobs_to_nodes = datadir + "job_nodes.csv"

suffix = "_5sec_"
### select an interval from
## 1 settings wholeData
#interval_comment_whole = "WholeData"



### select an interval from
## 2 settings Andrea
#infile_jobs = datadir + "april_long_jobs.csv"
interval_comment = "Andrea"
start_time = pd.to_datetime('2014-03-31')
end_time = pd.to_datetime('2014-05-01')
train_start_time = pd.to_datetime('2014-03-31')
train_end_time = pd.to_datetime('2014-04-30')
test_end_time = pd.to_datetime('2014-05-10')
#infile_jobs = datadir + "CPUs/" + interval_comment + "/" + interval_comment + "_long_jobs_real_pow" # there are also short jobs

## 3 settings Alina
#interval_comment = "Alina"
#start_time = pd.to_datetime('2014-03-31')
#end_time = pd.to_datetime('2014-11-01')
#train_start_time = pd.to_datetime('2014-03-31')
#train_end_time = pd.to_datetime('2014-10-01')
#test_end_time = pd.to_datetime('2014-11-01')
#infile_jobs = datadir + "CPUs/" + interval_comment + "/" + interval_comment + "_jobs_real_pow" # there are also short jobs

infile_jobs = datadir + "CPUs/" + "Alina" + "/Alina_jobs_real_pow" # there are also short jobs

#nodes=['01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24', '25', '26', '27', '28', '29', '30', '31', '32', '33', '34', '35', '36', '37', '38', '39', '40', '41', '42', '44', '45', '46', '47', '48', '49', '50', '51', '52', '53', '54', '55', '56', '57', '58', '59', '60', '61', '62', '63', '64']

In [228]:
jobs = pd.read_csv(infile_jobs + ".csv", index_col=0)
print("There are {} long jobs in the {}'s interval".format(jobs.shape[0], interval_comment))

# clean user names
jobs['user'] = jobs.apply(lambda row: row['user'].split('@')[0], axis=1)

There are 336787 long jobs in the Andrea's interval

In [229]:
jobs.keys()

Index(['job_id_string', 'job_name', 'queue', 'start_time', 'run_start_time',
       'end_time', 'user', 'node_req', 'cpu_req', 'mem_req', 'time_req',
       'deleted', 'dependency', 'exit_status', 'pbs_exit_code', 'gpu_req',
       'mic_req', 'real_pow', 'ran_alone', 'real_pow_quality', 'n_2_1',
       'n_2_2', 'n_3_1', 'job_tot_timepoints', 'job_timepoints', 'good_nodes',
       'ncores_system', 'njobs_system', 'load_system'],
      dtype='object')

In [230]:
# no jobs with real_pow smaller than 0
print(jobs[jobs['real_pow'] <= 0]['real_pow'].shape[0])
print(jobs[jobs['real_pow'] == 0]['real_pow'].shape[0])

25292
25292

fill the nan time_req using wall times

In [231]:
jobs['time_req'].unique()

array([nan, '04:00', '01:00', '00:30', '08:00', '03:59', '02:00', '03:30',
       '00:10', '00:09', '03:00', '00:02', '00:04', '00:01', '00:05',
       '00:08', '00:15', '00:29', '00:35', '00:20', '07:59', '00:03',
       '06:00', '00:00', '01:30', '03:29', '02:30', '01:10', '01:20',
       '00:40', '--', '03:20', '01:29'], dtype=object)

In [232]:
# debug
jobs[jobs['time_req'].isnull()]['queue'].unique()

array(['parallel', 'debug', 'np_longpar', 'p_devel', 'visual', 'system',
       'R810265', 'R928065', 'R959715', 'R959716', 'R959717', 'R959718',
       'R959719', 'R959720', 'R959721', 'R959722', 'R1010998', 'R1011000',
       'R1013900', 'R1013903', 'R1013901', 'R1013904', 'R1013902',
       'R1010870', 'R1172721', 'R1172722', 'R1172723', 'R1172724',
       'R1172725', 'R1208877', 'R1201947', 'R1201948', 'R1201949',
       'R1201950', 'R1201951', 'R1201952', 'R1287258', 'R1287259',
       'R1287260', 'R1287269', 'R1287268', 'R1287270', 'R1315151',
       'R1297176', 'R1297177', 'R1297178', 'R1297179', 'R1297180',
       'R1297181', 'route', 'meteopar', 'R588271', 'R588272', 'R588273',
       'R588274', 'R588275', 'R588276', 'R588277', 'R588278', 'R588279',
       'R588280', 'R588281', 'R588282', 'R588283', 'R588642', 'R588286',
       'R588287', 'R588288', 'R588289', 'R588290', 'R588291', 'R588293',
       'R588294', 'R588295', 'R588296', 'R588297', 'R588298', 'R628233',
       'R629002', 'R629001', 'R628999', 'R629000', 'R628996', 'R628994',
       'R628993', 'R628990', 'R628989', 'R635731', 'R769563', 'R771865',
       'R769564', 'R812967', 'R806706', 'R806653', 'R806654', 'R806655',
       'R806656', 'R806658', 'R890708', 'R890709', 'R890710', 'R890711',
       'R890712', 'R890713', 'R935407', 'R935408', 'R923441', 'R923442',
       'R923443', 'R923444', 'R923445', 'R923446'], dtype=object)

In [233]:
jobs.shape[0]

336787

In [234]:
jobs.loc[jobs['time_req'] == '--', 'time_req'] = np.NaN
print(jobs[jobs['time_req'].isnull()].shape[0])

277130

In [235]:
#debug wall time
jobs.loc[ (jobs['time_req'].isnull()) & (jobs['queue'] == 'debug'), 'time_req' ] = '00:30'
print(jobs[jobs['time_req'].isnull()].shape[0])

229501

In [236]:
#p_devel wall time
jobs.loc[ (jobs['time_req'].isnull()) & (jobs['queue'] == 'p_devel'), 'time_req' ] = '01:00'
print(jobs[jobs['time_req'].isnull()].shape[0])

229386

In [237]:
#parallel wall time
jobs.loc[ (jobs['time_req'].isnull()) & (jobs['queue'] == 'parallel'), 'time_req' ] = '04:00'
print(jobs[jobs['time_req'].isnull()].shape[0])

65106

In [238]:
#np_longpar wall time
jobs.loc[ (jobs['time_req'].isnull()) & (jobs['queue'] == 'np_longpar'), 'time_req' ] = '08:00'
print(jobs[jobs['time_req'].isnull()].shape[0])

62842

In [239]:
#all the others wall time
jobs.loc[ jobs['time_req'].isnull(), 'time_req'] = '04:00'
print(jobs[jobs['time_req'].isnull()].shape[0])

0

In [240]:
jobs[(jobs['job_tot_timepoints'] > 10) & (jobs['real_pow_quality'] <= 0)]

,job_id_string,job_name,queue,start_time,run_start_time,end_time,user,node_req,cpu_req,mem_req,...,real_pow_quality,n_2_1,n_2_2,n_3_1,job_tot_timepoints,job_timepoints,good_nodes,ncores_system,njobs_system,load_system
job_id,,,,,,,,,,,,,,,,,,,,,
229803,1198859.node129,sl1407_dmc,parallel,2014-09-11 00:42:00,2014-09-11 21:36:44,2014-09-11 22:16:36,gbertain,2,32,29360128,...,0.0,2,0,0,956,956,0,453,136,0
229804,1198860.node129,sl1407_dmc,parallel,2014-09-11 00:42:00,2014-09-11 22:16:39,2014-09-11 22:55:43,gbertain,2,32,29360128,...,0.0,2,0,0,936,936,0,446,138,0
229982,1199090.node129,equil-29,parallel,2014-09-11 12:00:17,2014-09-11 16:07:19,2014-09-11 20:08:06,pcacciot,1,2,3145728,...,0.0,0,0,1,2889,2889,0,355,63,0
229983,1199091.node129,equil-30,parallel,2014-09-11 12:00:17,2014-09-11 20:08:08,2014-09-12 00:09:23,pcacciot,1,2,3145728,...,0.0,0,0,1,2895,2895,0,469,128,0
229996,1199110.node129,tpa18fb_20.csh,parallel,2014-09-11 12:40:38,2014-09-12 07:24:03,2014-09-12 10:22:05,cmorgill,1,16,1048576,...,0.0,0,0,1,2136,2136,0,146,10,0
230041,1199176.node129,J13,parallel,2014-09-11 14:59:52,2014-09-11 16:52:04,2014-09-11 20:51:25,fnegreir,1,4,4194304,...,0.0,0,0,1,2872,2872,0,380,74,0
230042,1199177.node129,J14,parallel,2014-09-11 14:59:52,2014-09-11 16:52:05,2014-09-11 20:51:26,fnegreir,1,4,4194304,...,0.0,0,0,1,2872,2872,0,380,74,0
230043,1199178.node129,J15,parallel,2014-09-11 14:59:52,2014-09-11 16:52:05,2014-09-11 20:51:25,fnegreir,1,4,4194304,...,0.0,0,0,1,2872,2872,0,380,74,0
230044,1199179.node129,J16,parallel,2014-09-11 14:59:53,2014-09-11 16:55:43,2014-09-11 20:55:00,fnegreir,1,4,4194304,...,0.0,0,0,1,2871,2871,0,394,80,0
230045,1199180.node129,J17,parallel,2014-09-11 14:59:53,2014-09-11 16:55:44,2014-09-11 20:55:01,fnegreir,1,4,4194304,...,0.0,0,0,1,2871,2871,0,394,80,0
230046,1199181.node129,J18,parallel,2014-09-11 14:59:54,2014-09-11 16:55:44,2014-09-11 20:54:59,fnegreir,1,4,4194304,...,0.0,0,0,1,2871,2871,0,394,80,0
230047,1199182.node129,J19,parallel,2014-09-11 14:59:55,2014-09-11 17:06:22,2014-09-11 21:05:41,fnegreir,1,4,4194304,...,0.0,0,0,1,2871,2871,0,428,89,0
230048,1199183.node129,J20,parallel,2014-09-11 14:59:55,2014-09-11 17:06:26,2014-09-11 21:05:43,fnegreir,1,4,4194304,...,0.0,0,0,1,2871,2871,0,452,92,0
230049,1199184.node129,J21,parallel,2014-09-11 14:59:56,2014-09-11 17:06:27,2014-09-11 21:05:44,fnegreir,1,4,4194304,...,0.0,0,0,1,2871,2871,0,452,92,0
230050,1199185.node129,J22,parallel,2014-09-11 14:59:56,2014-09-11 17:06:27,2014-09-11 21:05:44,fnegreir,1,4,4194304,...,0.0,0,0,1,2871,2871,0,452,92,0
230051,1199186.node129,J23,parallel,2014-09-11 14:59:56,2014-09-11 17:06:30,2014-09-11 21:05:44,fnegreir,1,4,4194304,...,0.0,0,0,1,2870,2870,0,452,92,0
230052,1199187.node129,J24,parallel,2014-09-11 14:59:57,2014-09-11 17:06:31,2014-09-11 21:05:44,fnegreir,1,4,4194304,...,0.0,0,0,1,2870,2870,0,452,92,0
230053,1199188.node129,J25,parallel,2014-09-11 14:59:57,2014-09-11 17:16:41,2014-09-11 21:16:00,fnegreir,1,4,4194304,...,0.0,0,0,1,2871,2871,0,444,93,0
230054,1199189.node129,J26,parallel,2014-09-11 14:59:57,2014-09-11 17:16:42,2014-09-11 21:16:00,fnegreir,1,4,4194304,...,0.0,0,0,1,2871,2871,0,444,93,0
230055,1199190.node129,J27,parallel,2014-09-11 14:59:58,2014-09-11 17:16:42,2014-09-11 21:16:00,fnegreir,1,4,4194304,...,0.0,0,0,1,2871,2871,0,444,93,0
230056,1199191.node129,J28,parallel,2014-09-11 14:59:58,2014-09-11 17:30:23,2014-09-11 21:29:40,fnegreir,1,4,4194304,...,0.0,0,0,1,2871,2871,0,458,104,0
230057,1199192.node129,J29,parallel,2014-09-11 14:59:58,2014-09-11 17:30:24,2014-09-11 21:29:40,fnegreir,1,4,4194304,...,0.0,0,0,1,2871,2871,0,458,104,0
230058,1199193.node129,J30,parallel,2014-09-11 14:59:58,2014-09-11 17:30:24,2014-09-11 21:29:40,fnegreir,1,4,4194304,...,0.0,0,0,1,2871,2871,0,458,104,0
230059,1199194.node129,J31,parallel,2014-09-11 14:59:58,2014-09-11 17:33:45,2014-09-11 21:33:01,fnegreir,1,4,4194304,...,0.0,0,0,1,2871,2871,0,456,108,0
230060,1199195.node129,J32,parallel,2014-09-11 14:59:59,2014-09-11 17:33:45,2014-09-11 21:33:02,fnegreir,1,4,4194304,...,0.0,0,0,1,2871,2871,0,456,108,0
230061,1199196.node129,J33,parallel,2014-09-11 14:59:59,2014-09-11 17:33:46,2014-09-11 21:33:01,fnegreir,1,4,4194304,...,0.0,0,0,1,2871,2871,0,456,108,0
230062,1199197.node129,J34,parallel,2014-09-11 14:59:59,2014-09-11 17:43:42,2014-09-11 21:42:57,fnegreir,1,4,4194304,...,0.0,0,0,1,2871,2871,0,476,111,0
230063,1199198.node129,J35,parallel,2014-09-11 14:59:59,2014-09-11 17:43:43,2014-09-11 21:42:57,fnegreir,1,4,4194304,...,0.0,0,0,1,2870,2870,0,476,111,0
230064,1199199.node129,J36,parallel,2014-09-11 15:00:00,2014-09-11 17:43:43,2014-09-11 21:42:58,fnegreir,1,4,4194304,...,0.0,0,0,1,2871,2871,0,476,111,0
230065,1199200.node129,J37,parallel,2014-09-11 15:00:00,2014-09-11 17:43:44,2014-09-11 21:42:59,fnegreir,1,4,4194304,...,0.0,0,0,1,2871,2871,0,476,111,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
108261,812225.node129,therm2.job,parallel,2014-07-22 10:16:04,2014-07-22 10:16:13,2014-07-22 10:20:20,alorenzo,1,16,1048576,...,0.0,0,0,1,49,49,0,234,29,0
108266,812230.node129,therm2.job,parallel,2014-07-22 10:20:20,2014-07-22 10:22:04,2014-07-22 10:28:48,alorenzo,1,16,1048576,...,0.0,0,0,1,80,80,0,225,28,0
108267,812231.node129,5DB.scratch.cmd,debug,2014-07-22 10:21:25,2014-07-22 10:21:25,2014-07-22 10:30:06,gprandin,1,8,14680064,...,0.0,0,0,1,104,104,0,210,28,0
108270,812234.node129,therm2.job,parallel,2014-07-22 10:24:25,2014-07-22 11:10:39,2014-07-22 11:14:08,alorenzo,2,32,2097152,...,0.0,0,0,2,82,82,0,229,26,0
108271,812235.node129,therm2.job,parallel,2014-07-22 10:28:43,2014-07-22 11:14:10,2014-07-22 11:17:00,alorenzo,2,32,2097152,...,0.0,0,0,2,68,68,0,261,29,0
108272,812236.node129,therm2.job,parallel,2014-07-22 10:28:48,2014-07-22 10:28:51,2014-07-22 10:33:56,alorenzo,1,16,1048576,...,0.0,0,0,1,61,61,0,193,26,0
108286,812250.node129,sv_free.scratch,debug,2014-07-22 10:30:03,2014-07-22 10:30:04,2014-07-22 11:00:28,gprandin,1,16,14680064,...,0.0,0,0,1,364,364,0,201,26,0
108310,812274.node129,5DB.scratch.cmd,debug,2014-07-22 10:32:28,2014-07-22 10:32:31,2014-07-22 10:41:18,gprandin,1,8,14680064,...,0.0,0,0,1,105,105,0,177,25,0
108326,812290.node129,therm2.job,parallel,2014-07-22 10:33:56,2014-07-22 10:33:59,2014-07-22 10:36:24,alorenzo,1,16,1048576,...,0.0,0,0,1,29,29,0,177,25,0
108352,812316.node129,therm2.job,parallel,2014-07-22 10:36:24,2014-07-22 10:36:26,2014-07-22 10:41:16,alorenzo,1,16,1048576,...,0.0,0,0,1,58,58,0,177,25,0
108404,812401.node129,therm2.job,parallel,2014-07-22 10:45:04,2014-07-22 10:45:07,2014-07-22 10:52:45,alorenzo,1,16,1048576,...,0.0,0,0,1,91,91,0,169,24,0
108425,812422.node129,5DB.scratch.cmd,debug,2014-07-22 10:47:07,2014-07-22 10:47:13,2014-07-22 11:03:47,gprandin,2,16,29360128,...,0.0,0,0,2,396,396,0,185,26,0
108430,812428.node129,therm2.job,parallel,2014-07-22 10:52:45,2014-07-22 10:52:57,2014-07-22 10:56:51,alorenzo,1,16,1048576,...,0.0,0,0,1,46,46,0,193,26,0
108432,812430.node129,therm2.job,parallel,2014-07-22 10:56:51,2014-07-22 10:57:01,2014-07-22 11:02:52,alorenzo,1,16,1048576,...,0.0,0,0,1,70,70,0,177,25,0
108436,812434.node129,STDIN,parallel,2014-07-22 11:00:17,2014-07-22 11:02:56,2014-07-22 11:33:28,lorian00,1,16,1048576,...,0.0,0,0,1,366,366,0,193,26,0
108437,812435.node129,therm2.job,parallel,2014-07-22 11:02:52,2014-07-22 11:03:57,2014-07-22 11:08:22,alorenzo,1,16,1048576,...,0.0,0,0,1,53,53,0,181,24,0
108440,812438.node129,job,debug,2014-07-22 11:04:39,2014-07-22 11:04:40,2014-07-22 11:35:03,dmeggiol,2,32,10485760,...,0.0,0,0,2,728,728,0,212,25,0
108477,812475.node129,therm2.job,parallel,2014-07-22 11:08:21,2014-07-22 11:08:26,2014-07-22 11:13:28,alorenzo,1,16,1048576,...,0.0,0,0,1,60,60,0,212,25,0
108501,812499.node129,therm2.job,parallel,2014-07-22 11:13:28,2014-07-22 11:13:38,2014-07-22 11:20:59,alorenzo,1,16,1048576,...,0.0,0,0,1,88,88,0,261,29,0
108503,812501.node129,therm2.job,parallel,2014-07-22 11:14:07,2014-07-22 11:35:04,2014-07-22 11:37:32,alorenzo,2,32,2097152,...,0.0,0,0,2,58,58,0,231,29,0
108504,812502.node129,therm2.job,parallel,2014-07-22 11:17:00,2014-07-22 11:37:35,2014-07-22 11:39:49,alorenzo,2,32,2097152,...,0.0,0,0,2,52,52,0,219,28,0
108543,812541.node129,therm2.job,parallel,2014-07-22 11:20:59,2014-07-22 11:21:02,2014-07-22 11:26:30,alorenzo,1,16,1048576,...,0.0,0,0,1,65,65,0,262,30,0
108596,812595.node129,therm2.job,parallel,2014-07-22 11:26:30,2014-07-22 11:26:32,2014-07-22 11:29:50,alorenzo,1,16,1048576,...,0.0,0,0,1,39,39,0,262,30,0
108628,812628.node129,therm2.job,parallel,2014-07-22 11:29:50,2014-07-22 11:29:55,2014-07-22 11:35:01,alorenzo,1,16,1048576,...,0.0,0,0,1,61,61,0,262,30,0
108675,812677.node129,therm2.job,parallel,2014-07-22 11:35:01,2014-07-22 11:39:56,2014-07-22 11:45:28,alorenzo,1,16,1048576,...,0.0,0,0,1,66,66,0,203,27,0
108676,812678.node129,therm2.job,parallel,2014-07-22 11:37:32,2014-07-22 11:57:52,2014-07-22 12:00:22,alorenzo,2,32,2097152,...,0.0,0,0,2,60,60,0,311,34,0
108736,812739.node129,therm2.job,parallel,2014-07-22 11:45:28,2014-07-22 11:45:30,2014-07-22 11:48:22,alorenzo,1,16,1048576,...,0.0,0,0,1,34,34,0,235,29,0
108749,812752.node129,therm2.job,parallel,2014-07-22 11:48:22,2014-07-22 11:48:25,2014-07-22 11:53:32,alorenzo,1,16,1048576,...,0.0,0,0,1,61,61,0,250,29,0
108788,812791.node129,therm2.job,parallel,2014-07-22 11:53:32,2014-07-22 11:53:35,2014-07-22 11:57:50,alorenzo,1,16,1048576,...,0.0,0,0,1,51,51,0,294,32,0
156642,891029.node129,acyclovir1,R812967,2014-07-28 10:28:03,2014-07-28 10:28:03,2014-07-28 10:33:50,sdecherc,1,16,8388608,...,0.0,0,0,1,69,69,0,292,22,0

# ['real pow'] < 0: when we calculate the real job pow approximation we may have some negative results when 
# we subtract the mean idle pow of the node
# ['real_pow_quality'] < 0: jobs with 0 timepoints has 0 real_pow_quality. We eant jobs with at least one timepoint
print(jobs.shape[0])
jobs_q1 = jobs[jobs['real_pow_quality'] > 0]
jobs_q1 = jobs_q1[jobs_q1['real_pow'] > 0] 
print(jobs_q1.shape[0])

336787
165126

In [241]:
print(jobs.shape[0])
jobs_q1 = jobs[jobs['real_pow_quality'] > 0]
jobs_q1 = jobs_q1[jobs_q1['real_pow'] > 0] 
print(jobs_q1.shape[0])

336787
311495

In [242]:
print(jobs[(jobs['real_pow_quality'] == 0) | (jobs['real_pow'] <= 0)].shape)
dropped_jobs = jobs[(jobs['real_pow_quality'] <= 0) | (jobs['real_pow'] <= 0)]

(25292, 29)

In [243]:
jobs.groupby(['user', 'job_name']).size().reset_index(name='counts')

           user         job_name  counts
0      a07smr01           A2REPO     109
1      a07smr01          ARCHIVE       2
2      a07smr01             ARKI     125
3      a07smr01             INIT     137
4      a07smr01         LM28_OPE     133
5      a07smr01          LM7_OPE     123
6      a07smr01          LM7_TST     108
7      a07smr01           LM_PRE     162
8      a07smr01      POSTPROCESS     122
9      a07smr01         SWAN_CAM     107
10     a07smr01         SWAN_EMR     107
11     a07smr01         SWAN_MAR     107
12     a07smr01     SWAN_MED_ITA     111
13     a07smr01         SWAN_SIC     107
14     a07smr01         SWAN_SNE     106
15     a07smr01         SWAN_SUD     107
16     a07smr01         SWAN_TOS     105
17     a07smr01        TRANSFER1     122
18     a07smr01        TRANSFER2     121
19     a07smr01          WW_SWAN     118
20     a08tra01  my_compile_job_      26
21     a08tra01  my_run_job_stan      11
22     a08tra11            STDIN       2
23     a08tra11  compile_and_run       2
24     a08tra30          Arduino       1
25     a08tra35       ferrarotti      12
26     a08tra37            myjob       1
27     a08tra39         AMalerba       6
28     a08tra41            pinto       6
29     a08tra42              job       1
...         ...              ...     ...
15475  vdalcol0          solv_pb       1
15476  vdalcol0         solv_znf       1
15477  vmarino0   hum_nmGCAP1_wt       7
15478  vmarino0  mGCAP1_Ca_Ca_Ca      14
15479  vmarino0  mGCAP1_Mg_Mg_Mg      12
15480  vmarino0  mGCAP1_wt_Ca_Ca      16
15481  vmarino0     mGCAP1_wt_Mg      13
15482  vmarino0  mGCAP1_wt_Mg_Ca      12
15483  vmarino0  mGCAP1_wt_Mg_Mg      12
15484  vmarino0    mGCAP1_wt_apo      50
15485  vmarino0    nmGCAP1_D100E       5
15486  vmarino0    nmGCAP1_E155G       4
15487  vmarino0     nmGCAP1_E89K      10
15488  vmarino0    nmGCAP1_G159V      10
15489  vmarino0    nmGCAP1_I107T      10
15490  vmarino0    nmGCAP1_I143N      10
15491  vmarino0    nmGCAP1_I143T      10
15492  vmarino0    nmGCAP1_L151F      10
15493  vmarino0     nmGCAP1_L84F      10
15494  vmarino0    nmGCAP1_N104K      10
15495  vmarino0     nmGCAP1_P50L      10
15496  vmarino0     nmGCAP1_Y99C      10
15497  vmarino0       nmGCAP1_wt       6
15498  vmiglior      nwchem15618       1
15499  vmiglior      nwchem22401       3
15500  vmiglior      nwchem31407       1
15501  vmiglior      nwchemprova       2
15502  vmiglior            prova       2
15503  vruggie1            STDIN     105
15504  wxie0000    plx_script_v2      31

[15505 rows x 3 columns]

In [244]:
19978 / 25292

0.7898940376403606

In [245]:
1 - (311495 / 336787)

0.07509791054880388

In [246]:
# with jobs['real_pow_quality'] > 0
#165126

# with jobs['real_pow_quality'] >= 0
#311172

In [247]:
print("{} distinct users".format(jobs_q1['user'].unique().shape[0]))

274 distinct users

jobs_q1.groupby(['user', 'job_name']).size().shape[0]
12301

In [248]:
jobs_q1.groupby(['user', 'job_name']).size().shape[0]

15007

jobs_train = jobs_q1[pd.to_datetime(jobs_q1['end_time']) <= train_end_time]
jobs_train = jobs_train[pd.to_datetime(jobs_train['run_start_time']) >= train_start_time]

print("train set contains {} records".format(jobs_train.shape[0]))

jobs_test = jobs_q1[pd.to_datetime(jobs_q1['end_time']) <= test_end_time]
jobs_test = jobs_test[pd.to_datetime(jobs_test['run_start_time']) >= train_end_time]
print("test set contains {} records".format(jobs_test.shape[0]))

train set contains 146901 records
test set contains 18224 records

In [249]:
jobs_train = jobs_q1[pd.to_datetime(jobs_q1['end_time']) <= train_end_time]
jobs_train = jobs_train[pd.to_datetime(jobs_train['run_start_time']) >= train_start_time]

print("train set contains {} records".format(jobs_train.shape[0]))

jobs_test = jobs_q1[pd.to_datetime(jobs_q1['end_time']) <= test_end_time]
jobs_test = jobs_test[pd.to_datetime(jobs_test['run_start_time']) >= train_end_time]
print("test set contains {} records".format(jobs_test.shape[0]))

train set contains 74240 records
test set contains 7557 records

In [250]:
jobs_train.groupby(['user', 'job_name']).size().reset_index(name='counts')

          user         job_name  counts
0     a07smr01           A2REPO      41
1     a07smr01             ARKI      49
2     a07smr01             INIT      40
3     a07smr01         LM28_OPE      49
4     a07smr01          LM7_OPE      50
5     a07smr01          LM7_TST      41
6     a07smr01           LM_PRE      77
7     a07smr01      POSTPROCESS      48
8     a07smr01         SWAN_CAM      39
9     a07smr01         SWAN_EMR      39
10    a07smr01         SWAN_MAR      38
11    a07smr01     SWAN_MED_ITA      42
12    a07smr01         SWAN_SIC      40
13    a07smr01         SWAN_SNE      37
14    a07smr01         SWAN_SUD      40
15    a07smr01         SWAN_TOS      38
16    a07smr01        TRANSFER1      49
17    a07smr01        TRANSFER2      48
18    a07smr01          WW_SWAN      44
19    a08tra59      cudacompile       3
20    a08tra59          cudarun       5
21    a08tra59           gpujob       4
22    a08tra59         hellojob       8
23    a08tra59        hellovadd       1
24    a08tra59           micjob       4
25    a08tra59           scuola      40
26    a08tra59       scuola_gpu      12
27    a08tra59       scuola_mic       9
28    a08tra60            STDIN       9
29    a08tra60  build_hellos.sh       1
...        ...              ...     ...
2913  tbusatta  scriptcineca_90       1
2914  tgiorgin            STDIN      52
2915  tgiorgin   tgiorgin-pbs-1       5
2916  tgiorgin   tgiorgin-pbs-2       5
2917  vcalzia0          010-dos       1
2918  vcalzia0         010-nscf       5
2919  vcalzia0          010surf       7
2920  vcalzia0      010surf-scf       1
2921  vcalzia0           112dos       3
2922  vcalzia0          112nscf       4
2923  vcalzia0      112surf-rlx       3
2924  vcalzia0      112surf-scf       1
2925  vcalzia0       7ribb-nscf       4
2926  vcalzia0      7ribb-relax       4
2927  vdalcol0       solv_a666v       1
2928  vdalcol0       solv_d102h       1
2929  vdalcol0        solv_fgd1       7
2930  vdalcol0       solv_l706f       1
2931  vdalcol0       solv_p742s       2
2932  vdalcol0          solv_pb       1
2933  vdalcol0         solv_znf       1
2934  vmarino0  mGCAP1_Ca_Ca_Ca      14
2935  vmarino0  mGCAP1_Mg_Mg_Mg      12
2936  vmarino0  mGCAP1_wt_Ca_Ca      16
2937  vmarino0     mGCAP1_wt_Mg      13
2938  vmarino0  mGCAP1_wt_Mg_Ca      11
2939  vmarino0  mGCAP1_wt_Mg_Mg      12
2940  vmarino0    mGCAP1_wt_apo      38
2941  vruggie1            STDIN       2
2942  wxie0000    plx_script_v2      31

[2943 rows x 3 columns]

In [251]:
jobs_test.groupby(['user', 'job_name']).size().reset_index(name='counts')

          user         job_name  counts
0     a07smr01           A2REPO      10
1     a07smr01          ARCHIVE       2
2     a07smr01             ARKI      13
3     a07smr01             INIT      11
4     a07smr01         LM28_OPE      22
5     a07smr01          LM7_OPE      11
6     a07smr01          LM7_TST      11
7     a07smr01           LM_PRE      10
8     a07smr01      POSTPROCESS      11
9     a07smr01         SWAN_CAM      11
10    a07smr01         SWAN_EMR      11
11    a07smr01         SWAN_MAR      11
12    a07smr01     SWAN_MED_ITA      11
13    a07smr01         SWAN_SIC      10
14    a07smr01         SWAN_SNE      11
15    a07smr01         SWAN_SUD      10
16    a07smr01         SWAN_TOS      11
17    a07smr01        TRANSFER1      11
18    a07smr01        TRANSFER2      11
19    a07smr01          WW_SWAN      12
20    aambrose        input.job      50
21    abiancar              gmx      10
22    abiancar              job       1
23    abiancar             qmmm       7
24    acavalli          cn.02.4       1
25    acavalli          cs.04.6       1
26    acavalli          sn.02.4       1
27    aemerson           job.sh       2
28    aemerson         qsub.job       9
29    afanfari            STDIN     137
...        ...              ...     ...
1160  szia0000        SMD_4a_20      30
1161  szia0000        SMD_4e_01     145
1162  szia0000        SMD_4e_02     111
1163  szia0000        SMD_4e_03     149
1164  szia0000        SMD_4e_04      78
1165  szia0000        SMD_4e_05     113
1166  szia0000        SMD_4e_06      74
1167  szia0000        SMD_4e_07      62
1168  szia0000        SMD_4e_08      59
1169  szia0000        SMD_4e_09      63
1170  szia0000        SMD_4e_10      99
1171  szia0000        SMD_4e_11     147
1172  szia0000        SMD_4e_12      89
1173  szia0000        SMD_4e_13     102
1174  szia0000        SMD_4e_14     158
1175  szia0000        SMD_4e_15      99
1176  szia0000        SMD_4e_16      98
1177  szia0000        SMD_4e_17      75
1178  szia0000        SMD_4e_18     101
1179  szia0000        SMD_4e_19      93
1180  szia0000        SMD_4e_20     119
1181  szia0000     Trial_Run_4a      40
1182  tbusatta  scriptcineca_20       2
1183  tbusatta  scriptcineca_30      10
1184  tbusatta  scriptcineca_40       4
1185  tbusatta  scriptcineca_50      25
1186  tgiorgin            STDIN       6
1187  tgiorgin              boh       1
1188  tgiorgin        test.qsub       3
1189  tgiorgin   tgiorgin-pbs-1       1

[1190 rows x 3 columns]

In [252]:
jobs_test

,job_id_string,job_name,queue,start_time,run_start_time,end_time,user,node_req,cpu_req,mem_req,...,real_pow_quality,n_2_1,n_2_2,n_3_1,job_tot_timepoints,job_timepoints,good_nodes,ncores_system,njobs_system,load_system
job_id,,,,,,,,,,,,,,,,,,,,,
85459,621877.node129,4a_corr_ramp,parallel,2014-04-29 08:27:06,2014-04-30 04:21:32,2014-04-30 04:21:35,szia0000,1,2,8388608,...,1.000000,0,0,1,1,0,1,364,63,0
85461,621879.node129,Run_4e,parallel,2014-04-29 08:27:18,2014-04-30 04:21:44,2014-04-30 04:21:46,szia0000,1,2,8388608,...,1.000000,0,0,1,1,0,1,364,63,0
85466,621884.node129,SMD_4e_08,parallel,2014-04-29 08:28:02,2014-04-30 04:22:22,2014-04-30 04:22:26,szia0000,1,2,8388608,...,1.000000,0,0,1,1,0,1,364,63,0
85470,621888.node129,Run-2_4a,parallel,2014-04-29 08:28:33,2014-04-30 04:22:42,2014-04-30 04:22:45,szia0000,1,2,8388608,...,1.000000,0,0,1,1,0,1,364,63,0
85472,621890.node129,Run_4a,parallel,2014-04-29 08:28:45,2014-04-30 04:22:53,2014-04-30 04:22:55,szia0000,1,2,8388608,...,1.000000,0,0,1,1,0,1,364,63,0
85483,621901.node129,4e_corr_ramp,parallel,2014-04-29 08:29:59,2014-04-30 04:23:51,2014-04-30 04:23:53,szia0000,1,2,8388608,...,1.000000,0,0,1,1,0,1,363,62,0
85487,621905.node129,Trial_Run_4a,parallel,2014-04-29 08:30:29,2014-04-30 04:24:16,2014-04-30 04:24:19,szia0000,1,2,8388608,...,1.000000,0,0,1,1,0,1,363,62,0
85619,622045.node129,Run-2_apo_ncode,parallel,2014-04-29 09:21:21,2014-04-30 04:25:07,2014-04-30 04:25:09,szia0000,1,2,8388608,...,1.000000,0,0,1,1,0,1,363,62,0
86061,622970.node129,Run_apo_ncode,parallel,2014-04-29 14:27:25,2014-04-30 04:25:45,2014-04-30 04:25:47,szia0000,1,2,8388608,...,1.000000,0,0,1,1,0,1,363,62,0
88444,626803.node129,4a_corr_ramp,parallel,2014-04-30 04:21:34,2014-04-30 04:26:15,2014-04-30 04:26:17,szia0000,1,2,8388608,...,1.000000,0,0,1,1,0,1,362,61,0
88446,626805.node129,Run_4e,parallel,2014-04-30 04:21:45,2014-04-30 04:26:25,2014-04-30 04:26:27,szia0000,1,2,8388608,...,1.000000,0,0,1,1,0,1,426,65,0
88454,626813.node129,Run-2_4a,parallel,2014-04-30 04:22:44,2014-04-30 04:27:15,2014-04-30 04:27:17,szia0000,1,2,8388608,...,1.000000,0,0,1,1,0,1,426,65,0
88456,626815.node129,Run_4a,parallel,2014-04-30 04:22:55,2014-04-30 04:27:25,2014-04-30 04:27:28,szia0000,1,2,8388608,...,1.000000,0,0,1,1,0,1,426,65,0
88465,626824.node129,4e_corr_ramp,parallel,2014-04-30 04:23:53,2014-04-30 04:28:25,2014-04-30 04:28:28,szia0000,1,2,8388608,...,1.000000,0,0,1,1,0,1,423,63,0
88469,626828.node129,Trial_Run_4a,parallel,2014-04-30 04:24:18,2014-04-30 04:28:51,2014-04-30 04:28:52,szia0000,1,2,8388608,...,1.000000,0,0,1,1,0,1,422,62,0
88476,626835.node129,Run-2_apo_ncode,parallel,2014-04-30 04:25:09,2014-04-30 04:29:34,2014-04-30 04:29:36,szia0000,1,2,8388608,...,1.000000,0,0,1,1,0,1,424,63,0
88478,626837.node129,SMD_4e_14,parallel,2014-04-30 04:25:22,2014-04-30 04:29:44,2014-04-30 04:29:48,szia0000,1,2,8388608,...,1.000000,0,0,1,1,0,1,422,62,0
88482,626841.node129,Run_apo_ncode,parallel,2014-04-30 04:25:47,2014-04-30 04:30:11,2014-04-30 04:30:12,szia0000,1,2,8388608,...,1.000000,0,0,1,1,0,1,422,62,0
88487,626846.node129,4a_corr_ramp,parallel,2014-04-30 04:26:16,2014-04-30 04:30:40,2014-04-30 04:30:41,szia0000,1,2,8388608,...,1.000000,0,0,1,1,0,1,423,62,0
88489,626848.node129,Run_4e,parallel,2014-04-30 04:26:26,2014-04-30 04:30:50,2014-04-30 04:30:52,szia0000,1,2,8388608,...,1.000000,0,0,1,1,0,1,421,61,0
88490,626849.node129,SMD_4a_04,parallel,2014-04-30 04:26:33,2014-04-30 04:30:54,2014-04-30 04:30:58,szia0000,1,2,8388608,...,1.000000,0,0,1,1,0,1,421,61,0
88497,626856.node129,Run-2_4a,parallel,2014-04-30 04:27:16,2014-04-30 04:31:51,2014-04-30 04:31:53,szia0000,1,2,8388608,...,1.000000,0,0,1,1,0,1,421,61,0
88499,626858.node129,Run_4a,parallel,2014-04-30 04:27:27,2014-04-30 04:32:01,2014-04-30 04:32:03,szia0000,1,2,8388608,...,1.000000,0,0,1,1,0,1,423,62,0
88504,626863.node129,SMD_4a_07,parallel,2014-04-30 04:28:02,2014-04-30 04:32:40,2014-04-30 04:32:44,szia0000,1,2,8388608,...,1.000000,0,0,1,1,0,1,421,61,0
88508,626867.node129,4e_corr_ramp,parallel,2014-04-30 04:28:27,2014-04-30 04:33:06,2014-04-30 04:33:08,szia0000,1,2,8388608,...,1.000000,0,0,1,1,0,1,423,62,0
88512,626871.node129,Trial_Run_4a,parallel,2014-04-30 04:28:52,2014-04-30 04:33:31,2014-04-30 04:33:32,szia0000,1,2,8388608,...,1.000000,0,0,1,1,0,1,423,62,0
88519,626878.node129,Run-2_apo_ncode,parallel,2014-04-30 04:29:35,2014-04-30 04:34:15,2014-04-30 04:34:16,szia0000,1,2,8388608,...,1.000000,0,0,1,1,0,1,423,62,0
88525,626884.node129,Run_apo_ncode,parallel,2014-04-30 04:30:12,2014-04-30 04:34:53,2014-04-30 04:34:55,szia0000,1,2,8388608,...,1.000000,0,0,1,1,0,1,423,62,0
88530,626889.node129,4a_corr_ramp,parallel,2014-04-30 04:30:41,2014-04-30 04:35:28,2014-04-30 04:35:30,szia0000,1,2,8388608,...,1.000000,0,0,1,1,0,1,423,62,0
88532,626891.node129,Run_4e,parallel,2014-04-30 04:30:51,2014-04-30 04:35:38,2014-04-30 04:35:40,szia0000,1,2,8388608,...,1.000000,0,0,1,1,0,1,423,62,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96056,636430.node129,sphere_Re50_qsu,debug,2014-05-08 14:42:38,2014-05-08 14:42:39,2014-05-08 14:43:00,rvacondi,2,32,27262976,...,1.000000,2,0,0,8,0,2,508,60,0
96057,636431.node129,job,parallel,2014-05-08 14:43:04,2014-05-08 15:02:20,2014-05-08 15:27:30,dmeggiol,2,32,10485760,...,0.978477,1,1,0,604,13,2,484,58,0
96058,636437.node129,sphere_Re50_qsu,debug,2014-05-08 14:45:25,2014-05-08 14:45:31,2014-05-08 14:45:54,rvacondi,2,32,27262976,...,1.000000,2,0,0,8,0,2,508,60,0
96059,636440.node129,STDIN,parallel,2014-05-08 14:46:44,2014-05-08 14:46:45,2014-05-08 14:48:29,aolarini,1,1,1048576,...,0.950000,0,0,1,20,1,1,477,59,0
96060,636441.node129,sphere_Re50_qsu,debug,2014-05-08 14:47:11,2014-05-08 14:47:13,2014-05-08 14:47:37,rvacondi,2,32,27262976,...,1.000000,2,0,0,8,0,2,493,60,0
96061,636448.node129,job,parallel,2014-05-08 14:48:22,2014-05-08 15:02:39,2014-05-08 15:27:40,dmeggiol,2,32,10485760,...,0.978333,0,2,0,600,13,2,517,61,0
96062,636449.node129,job,parallel,2014-05-08 14:49:06,2014-05-08 15:03:58,2014-05-08 15:27:45,dmeggiol,2,32,10485760,...,0.982456,1,1,0,570,10,2,557,64,0
96063,636454.node129,job,parallel,2014-05-08 14:49:36,2014-05-08 15:04:59,2014-05-08 15:27:36,dmeggiol,2,32,10485760,...,0.976015,2,0,0,542,13,2,573,65,0
96064,636455.node129,sphere_Re50_qsu,debug,2014-05-08 14:50:00,2014-05-08 14:50:01,2014-05-08 14:50:30,rvacondi,2,32,27262976,...,1.000000,2,0,0,10,0,2,492,59,0
96065,636464.node129,sphere_Re50_qsu,debug,2014-05-08 14:53:53,2014-05-08 14:53:54,2014-05-08 14:54:20,rvacondi,2,32,27262976,...,1.000000,2,0,0,10,0,2,492,59,0
96066,636474.node129,prCFToff,parallel,2014-05-08 14:59:21,2014-05-08 14:59:22,2014-05-08 14:59:35,gquarant,1,16,14680064,...,1.000000,0,1,0,2,0,1,476,58,0
96067,636484.node129,STDIN,parallel,2014-05-08 15:02:24,2014-05-08 15:02:25,2014-05-08 16:11:31,aolarini,1,1,1048576,...,0.972256,0,0,1,829,23,1,485,59,0
96068,636486.node129,prSFToff,parallel,2014-05-08 15:02:44,2014-05-08 15:02:46,2014-05-08 15:03:02,gquarant,1,16,14680064,...,0.666667,0,1,0,3,1,1,533,62,0
96069,636498.node129,psFToff,parallel,2014-05-08 15:04:54,2014-05-08 15:04:55,2014-05-08 15:05:08,gquarant,1,16,14680064,...,1.000000,1,0,0,2,0,1,573,65,0
96070,636501.node129,job.sh,parallel,2014-05-08 15:05:59,2014-05-08 15:06:01,2014-05-08 15:06:12,emacerat,1,12,14680064,...,1.000000,0,0,1,2,0,1,557,64,0
96071,636532.node129,script_eurora.s,parallel,2014-05-08 15:16:01,2014-05-08 15:16:02,2014-05-08 19:17:56,msaba000,1,8,12582912,...,0.661268,0,0,1,2902,983,1,553,64,0
96072,636537.node129,HAWT_TSR5,parallel,2014-05-08 15:16:43,2014-05-08 15:27:31,2014-05-08 19:28:41,mcaccial,2,32,12582912,...,0.798721,1,1,0,5788,1165,2,441,54,0
96073,636544.node129,HAWT_TSR9,parallel,2014-05-08 15:19:22,2014-05-08 15:27:59,2014-05-08 19:28:59,mcaccial,2,32,12582912,...,0.618776,2,0,0,5784,2205,2,507,60,0
96074,636546.node129,job.sh,parallel,2014-05-08 15:20:15,2014-05-08 15:20:17,2014-05-08 15:24:25,emacerat,1,12,14680064,...,0.979592,0,0,1,49,1,1,541,62,0
96075,636551.node129,STDIN,debug,2014-05-08 15:23:09,2014-05-08 15:35:06,2014-05-08 16:05:44,sschifan,1,16,4194304,...,0.970027,0,0,1,367,11,1,527,62,0
96077,636573.node129,SS1,parallel,2014-05-08 15:31:55,2014-05-08 15:31:57,2014-05-08 17:59:48,fnegreir,1,8,8388608,...,0.970688,0,0,1,1774,52,1,499,60,0
96078,636582.node129,job.sh,parallel,2014-05-08 15:34:09,2014-05-08 15:34:11,2014-05-08 15:40:20,emacerat,1,12,14680064,...,0.972603,0,0,1,73,2,1,511,61,0
96080,636596.node129,pAeroFoam,parallel,2014-05-08 15:38:27,2014-05-08 15:39:29,2014-05-08 15:39:57,gquarant,1,16,14680064,...,0.800000,1,0,0,5,1,1,511,60,0
96081,636621.node129,job.sh,parallel,2014-05-08 15:45:24,2014-05-08 15:45:25,2014-05-08 15:49:47,emacerat,1,12,14680064,...,0.961538,0,0,1,52,2,1,487,57,0
96082,636672.node129,input.job,parallel,2014-05-08 16:06:13,2014-05-08 16:06:16,2014-05-08 16:08:00,aambrose,2,16,12582912,...,1.000000,0,0,2,40,0,2,471,55,0
96083,636673.node129,job.sh,parallel,2014-05-08 16:06:15,2014-05-08 16:06:19,2014-05-08 16:39:25,emacerat,1,12,14680064,...,0.974811,0,0,1,397,10,1,471,55,0
96084,636674.node129,STDIN,debug,2014-05-08 16:06:19,2014-05-08 16:28:23,2014-05-08 16:59:00,sschifan,1,16,4194304,...,0.983651,0,0,1,367,6,1,492,50,0
96085,636679.node129,input.job,parallel,2014-05-08 16:08:00,2014-05-08 16:08:01,2014-05-08 16:19:04,aambrose,2,16,12582912,...,0.965909,0,0,2,264,9,2,471,55,0
96086,636758.node129,prCFToff,parallel,2014-05-08 16:30:32,2014-05-08 16:30:33,2014-05-08 16:30:46,gquarant,1,16,14680064,...,1.000000,1,0,0,2,0,1,508,51,0
96087,636762.node129,sub,parallel,2014-05-08 16:31:24,2014-05-08 16:31:25,2014-05-08 20:33:38,gdadamo0,1,1,5242880,...,0.982106,1,0,0,2906,52,1,493,51,0

In [253]:
286478 + 25016

311494

print("{} unique jobs in the trainset".format(jobs_train.groupby(['user', 'job_name']).size().shape[0]))
print("{} unique jobs in the testset".format(jobs_test.groupby(['user', 'job_name']).size().shape[0]))

6491 unique jobs in the trainset
6675 unique jobs in the testset

In [254]:
print("{} unique jobs in the trainset".format(jobs_train.groupby(['user', 'job_name']).size().shape[0]))
print("{} unique jobs in the testset".format(jobs_test.groupby(['user', 'job_name']).size().shape[0]))

2943 unique jobs in the trainset
1190 unique jobs in the testset

job_new = jobs_test[~jobs_test['job_name'].isin(jobs_train['job_name'])]
print(job_new['job_name'].unique().shape)

(5807,)

In [255]:
job_new = jobs_test[~jobs_test['job_name'].isin(jobs_train['job_name'])]
print(job_new['job_name'].unique().shape)

(427,)

In [256]:
#jobs_test = jobs_test_cpy

check if there are some single core jobs that have overscale consume

In [257]:
jobs_to_remove = jobs_test[(jobs_test.real_pow > 300) & (jobs_test.cpu_req == 1)]['job_id_string']

In [258]:
jobs_to_remove.shape

(4,)

In [259]:
jobs_test_cpy = jobs_test

In [260]:
jobs_test = jobs_test[~jobs_test.job_id_string.isin(jobs_to_remove)]

In [261]:
jobs_test.shape

(7553, 29)

outfile_jobs_trainset = datadir + "CPUs/" + interval_comment + "/" + interval_comment + "_trainset"
jobs_train.to_csv(outfile_jobs_trainset + ".csv")

outfile_jobs_testset = datadir + "CPUs/" + interval_comment + "/" + interval_comment + "_testset"
jobs_test.to_csv(outfile_jobs_testset + ".csv")

outfile_jobs_trainset = datadir + "CPUs/" + interval_comment + "/" + interval_comment + "_trainset_clear"
jobs_train.to_csv(outfile_jobs_trainset + ".csv")

outfile_jobs_testset = datadir + "CPUs/" + interval_comment + "/" + interval_comment + "_testset_clear"
jobs_test.to_csv(outfile_jobs_testset + ".csv")

Random train and test set

In [262]:
data_set.shape

(10768, 29)

In [263]:
data_set.columns

Index(['job_id_string', 'job_name', 'queue', 'start_time', 'run_start_time',
       'end_time', 'user', 'node_req', 'cpu_req', 'mem_req', 'time_req',
       'deleted', 'dependency', 'exit_status', 'pbs_exit_code', 'gpu_req',
       'mic_req', 'real_pow', 'ran_alone', 'real_pow_quality', 'n_2_1',
       'n_2_2', 'n_3_1', 'job_tot_timepoints', 'job_timepoints', 'good_nodes',
       'ncores_system', 'njobs_system', 'load_system'],
      dtype='object')

In [271]:
data_set = pd.concat([jobs_train, jobs_test], ignore_index=True)
print(data_set.shape)
ran_alone_data = data_set
#ran_alone_data = data_set[data_set['ran_alone'] == True]
#ran_alone_data = data_set[data_set.node_req*16 == data_set.cpu_req]
ran_alone_data = data_set[(data_set.cpu_req == 8) | (data_set.cpu_req == 16) | (data_set.cpu_req == 24) | (data_set.cpu_req == 32)]
print(ran_alone_data.shape)
data = ran_alone_data
#data = ran_alone_data.sample(10768)
jobs_train_2 = data.head(10000)
jobs_test_2 = data.tail(768)

(81793, 29)
(10237, 29)

In [272]:
jobs_test_2.user.isin(jobs_train.user).shape

(768,)

In [273]:
outfile_jobs_trainset = datadir + "CPUs/" + interval_comment + "/" + interval_comment + "_trainset_random"
jobs_train_2.to_csv(outfile_jobs_trainset + ".csv")

outfile_jobs_testset = datadir + "CPUs/" + interval_comment + "/" + interval_comment + "_testset_random"
jobs_test_2.to_csv(outfile_jobs_testset + ".csv")

In [ ]:
print(jobs[jobs['gpu_req'] != 0].shape[0])
print(jobs[jobs['gpu_req'] > 1].shape[0] / jobs.shape[0])

In [ ]:
jobs[['cpu_req', 'gpu_req']]

In [ ]:
print(jobs['job_timepoints'] / jobs['job_tot_timepoints'])

In [ ]:
jobs[(jobs['job_tot_timepoints'] - jobs['job_timepoints']) <=  0.9 * jobs['job_tot_timepoints']].shape[0]

In [ ]:
(336787 - 26317) / 336787

In [ ]:
26317 / 336787