# Database data

In [2]:
#!/usr/bin/env python3

import pandas as pd
import errno
import os, sys
import numpy as np

'''
Author: Enrico Ceccolini
    Explore the original Eurora measurements db
    
'''

global_start_time = pd.to_datetime('2014-03-24')
global_end_time = pd.to_datetime('2015-08-12')

datadir = "/datasets/eurora_data/db/"

cpu = '33'
infile = datadir + "/CPUs/cpu" + cpu + ".csv"

# read dataset
whole_node_power_data = pd.read_csv(infile) # Read a comma-separated values (csv) file into DataFrame
print("there are {} entries in the whole dataset".format(whole_node_power_data.shape[0]))
whole_node_power_data = whole_node_power_data[whole_node_power_data['cpu_id'] == 0]
whole_node_power_data = whole_node_power_data.drop_duplicates()

there are 8133642 entries in the whole dataset

In [4]:
whole_node_power_data.head(30)

    33  cpu_id            timestamp    pow_cpu  pow_dram    pow_pkg
0   33       0  2014-03-24 13:56:29  39.568283  4.175077  56.227947
1   33       0  2014-03-24 13:56:34  43.743416  4.164169  60.410263
2   33       0  2014-03-24 13:56:39  35.705551  4.058780  52.306992
3   33       0  2014-03-24 13:56:44  35.529102  4.086720  52.133030
4   33       0  2014-03-24 13:56:49  35.474957  4.223190  52.071609
5   33       0  2014-03-24 13:56:54  35.603226  4.185067  52.185326
12  33       0  2014-03-24 13:56:59  45.060200  4.161972  61.681400
13  33       0  2014-03-24 13:57:04  45.333138  4.127425  61.966743
14  33       0  2014-03-24 13:57:09  43.380035  3.854075  60.003445
15  33       0  2014-03-24 13:57:14  36.765690  4.074920  53.365818
16  33       0  2014-03-24 13:57:19  38.604279  4.025128  55.217224
17  33       0  2014-03-24 13:57:24  43.243980  3.847892  59.860611
18  33       0  2014-03-24 13:57:29  43.386478  4.188684  60.340446
19  33       0  2014-03-24 13:57:34  40.146111  4.678551  57.548111
20  33       0  2014-03-24 13:57:39  41.644112  4.660204  59.051090
21  33       0  2014-03-24 13:57:44  34.657433  4.689198  52.035656
22  33       0  2014-03-24 13:57:49  38.738739  4.407756  55.710930
23  33       0  2014-03-24 13:57:54  34.562050  4.107502  51.199009
24  33       0  2014-03-24 13:57:59  36.127583  4.170471  52.777279
25  33       0  2014-03-24 13:58:04  41.164722  4.142389  57.835320
26  33       0  2014-03-24 13:58:09  43.474598  4.143759  60.130070
27  33       0  2014-03-24 13:58:14  39.415619  4.121334  56.093975
28  33       0  2014-03-24 13:58:19  38.853596  4.168291  55.516579
29  33       0  2014-03-24 13:58:24  34.861473  4.266510  51.495754
30  33       0  2014-03-24 13:58:29  35.459305  4.171257  52.138489
31  33       0  2014-03-24 13:58:34  40.274174  4.184745  56.941235
32  33       0  2014-03-24 13:58:39  44.745060  4.188808  61.421272
33  33       0  2014-03-24 13:58:44  37.421928  4.183368  54.066216
34  33       0  2014-03-24 13:58:49  38.397949  4.150629  55.020618
35  33       0  2014-03-24 13:58:54  42.693233  4.231059  59.370071

In [6]:
# cpu 64
alina_start_time = pd.to_datetime('2014-03-31')
#alina_start_time = pd.to_datetime('2014-10-01')
alina_end_time = pd.to_datetime('2014-10-31')
alina_node_power_data = whole_node_power_data[pd.to_datetime(whole_node_power_data['timestamp']) >= alina_start_time]
alina_node_power_data = alina_node_power_data[pd.to_datetime(alina_node_power_data['timestamp']) <= alina_end_time]
print("there are {} entries in the Alina's interval dataset".format(alina_node_power_data.shape[0]))
total_seconds = int((alina_end_time - alina_start_time) / np.timedelta64(5, 's'))
print("{}/{} are missing".format(total_seconds - alina_node_power_data.shape[0], total_seconds))

there are 2018653 entries in the Alina's interval dataset
1679267/3697920 are missing

In [8]:
# cpu 4
alina_start_time = pd.to_datetime('2014-10-01')
alina_end_time = pd.to_datetime('2014-10-31')
alina_node_power_data = whole_node_power_data[pd.to_datetime(whole_node_power_data['timestamp']) >= alina_start_time]
alina_node_power_data = alina_node_power_data[pd.to_datetime(alina_node_power_data['timestamp']) <= alina_end_time]
print("there are {} entries in the Alina's interval dataset".format(alina_node_power_data.shape[0]))
total_seconds = int((alina_end_time - alina_start_time) / np.timedelta64(5, 's'))
print("{}/{} are missing".format(total_seconds - alina_node_power_data.shape[0], total_seconds))

there are 113923 entries in the Alina's interval dataset
404477/518400 are missing

In [6]:
# cpu 3
alina_start_time = pd.to_datetime('2014-10-01')
alina_end_time = pd.to_datetime('2014-10-31')
alina_node_power_data = whole_node_power_data[pd.to_datetime(whole_node_power_data['timestamp']) >= alina_start_time]
alina_node_power_data = alina_node_power_data[pd.to_datetime(alina_node_power_data['timestamp']) <= alina_end_time]
print("there are {} entries in the Alina's interval dataset".format(alina_node_power_data.shape[0]))
total_seconds = int((alina_end_time - alina_start_time) / np.timedelta64(5, 's'))
print("{}/{} are missing".format(total_seconds - alina_node_power_data.shape[0], total_seconds))

there are 114015 entries in the Alina's interval dataset
404385/518400 are missing

In [4]:
# cpu 2
alina_start_time = pd.to_datetime('2014-10-01')
alina_end_time = pd.to_datetime('2014-10-31')
alina_node_power_data = whole_node_power_data[pd.to_datetime(whole_node_power_data['timestamp']) >= alina_start_time]
alina_node_power_data = alina_node_power_data[pd.to_datetime(alina_node_power_data['timestamp']) <= alina_end_time]
print("there are {} entries in the Alina's interval dataset".format(alina_node_power_data.shape[0]))
total_seconds = int((alina_end_time - alina_start_time) / np.timedelta64(5, 's'))
print("{}/{} are missing".format(total_seconds - alina_node_power_data.shape[0], total_seconds))

there are 0 entries in the Alina's interval dataset
518400/518400 are missing

In [15]:
# cpu 1
alina_start_time = pd.to_datetime('2014-10-01')
alina_end_time = pd.to_datetime('2014-10-31')
alina_node_power_data = whole_node_power_data[pd.to_datetime(whole_node_power_data['timestamp']) >= alina_start_time]
alina_node_power_data = alina_node_power_data[pd.to_datetime(alina_node_power_data['timestamp']) <= alina_end_time]
print("there are {} entries in the Alina's interval dataset".format(alina_node_power_data.shape[0]))
total_seconds = int((alina_end_time - alina_start_time) / np.timedelta64(5, 's'))
print("{}/{} are missing".format(total_seconds - alina_node_power_data.shape[0], total_seconds))

there are 113960 entries in the Alina's interval dataset
404440/518400 are missing

In [14]:
andrea_start_time = pd.to_datetime('2014-03-31')
andrea_end_time = pd.to_datetime('2014-05-01')
andrea_node_power_data = whole_node_power_data[pd.to_datetime(whole_node_power_data['timestamp']) >= andrea_start_time]
andrea_node_power_data = andrea_node_power_data[pd.to_datetime(andrea_node_power_data['timestamp']) <= andrea_end_time]
print("there are {} entries in the Andrea's interval dataset".format(andrea_node_power_data.shape[0]))
total_seconds = int((andrea_end_time - andrea_start_time) / np.timedelta64(5, 's'))
print("{}/{} are missing".format(total_seconds - andrea_node_power_data.shape[0], total_seconds))

there are 526822 entries in the Andrea's interval dataset
8858/535680 are missing

In [3]:
andrea_node_power_data

         01  cpu_id            timestamp    pow_cpu  pow_dram    pow_pkg
4115722   1       0  2014-10-01 07:56:49   3.408170  2.441968  20.069233
4115723   1       0  2014-10-01 07:56:54   3.389760  2.394029  20.050280
4115724   1       0  2014-10-01 07:56:59   3.391119  2.435941  20.050335
4115725   1       0  2014-10-01 07:57:04   3.425376  2.412408  20.081066
4115726   1       0  2014-10-01 07:57:09   3.449040  2.445621  20.105715
4115727   1       0  2014-10-01 07:57:14   3.451574  2.396707  20.106665
4115728   1       0  2014-10-01 07:57:19   3.433525  2.411191  20.089586
4115729   1       0  2014-10-01 07:57:24   3.407728  2.423154  20.066370
4115730   1       0  2014-10-01 07:57:29   3.421701  2.456674  20.080288
4115731   1       0  2014-10-01 07:57:34   3.364623  2.449359  20.028069
4115732   1       0  2014-10-01 07:57:39   3.384829  2.449156  20.047874
4115733   1       0  2014-10-01 07:57:44   3.374811  2.440938  20.035782
4115734   1       0  2014-10-01 07:57:49   3.379156  2.397300  20.041828
4115735   1       0  2014-10-01 07:57:54   3.394825  2.487310  20.054943
4115736   1       0  2014-10-01 07:57:59   3.382719  2.468888  20.042662
4115737   1       0  2014-10-01 07:58:04   3.393994  2.456091  20.050653
4115738   1       0  2014-10-01 07:58:09   3.403749  2.446510  20.059917
4115739   1       0  2014-10-01 07:58:14   3.400883  2.475447  20.055750
4115740   1       0  2014-10-01 07:58:19   3.406282  2.378019  20.065201
4115741   1       0  2014-10-01 07:58:24   3.399012  2.279480  20.054523
4115742   1       0  2014-10-01 07:58:29   3.425834  2.228069  20.081450
4115743   1       0  2014-10-01 07:58:34   3.380006  2.302569  20.038023
4115744   1       0  2014-10-01 07:58:39   3.410952  2.303345  20.070446
4115745   1       0  2014-10-01 07:58:44   3.401569  2.378085  20.063950
4115746   1       0  2014-10-01 07:58:49   3.400375  2.436988  20.060194
4115747   1       0  2014-10-01 07:58:54   3.387751  2.356957  20.047131
4115748   1       0  2014-10-01 07:58:59   3.389759  2.302397  20.051668
4115749   1       0  2014-10-01 07:59:04   3.390658  2.367877  20.047554
4115750   1       0  2014-10-01 07:59:09   3.398139  2.313181  20.053469
4115751   1       0  2014-10-01 07:59:14   3.381665  2.314796  20.036844
...      ..     ...                  ...        ...       ...        ...
4344478   1       1  2014-10-30 23:57:34  36.258194  6.267306  53.472771
4344479   1       1  2014-10-30 23:57:39  36.209488  6.167992  53.423763
4344480   1       1  2014-10-30 23:57:44  36.178501  6.155540  53.392361
4344481   1       1  2014-10-30 23:57:49  36.205193  6.172813  53.411278
4344482   1       1  2014-10-30 23:57:54  36.214977  6.132277  53.439678
4344483   1       1  2014-10-30 23:57:59  36.264626  6.070532  53.484631
4344484   1       1  2014-10-30 23:58:04  36.312420  6.083855  53.530647
4344485   1       1  2014-10-30 23:58:09  36.332668  6.097120  53.560028
4344486   1       1  2014-10-30 23:58:14  36.342060  6.014543  53.566807
4344487   1       1  2014-10-30 23:58:19  36.340645  5.975170  53.561161
4344488   1       1  2014-10-30 23:58:24  36.314835  6.012895  53.533943
4344489   1       1  2014-10-30 23:58:29  36.307884  6.138014  53.537605
4344490   1       1  2014-10-30 23:58:34  36.258865  6.175697  53.475090
4344491   1       1  2014-10-30 23:58:39  36.212822  6.066869  53.430321
4344492   1       1  2014-10-30 23:58:44  36.188339  6.133384  53.422291
4344493   1       1  2014-10-30 23:58:49  36.228317  6.203210  53.442589
4344494   1       1  2014-10-30 23:58:54  36.117405  6.195616  53.363159
4344495   1       1  2014-10-30 23:58:59  36.250137  6.306795  53.498932
4344496   1       1  2014-10-30 23:59:04  36.313263  6.157254  53.528927
4344497   1       1  2014-10-30 23:59:09  36.338654  6.168463  53.561390
4344498   1       1  2014-10-30 23:59:14  36.345821  6.134942  53.576153
4344499   1       1  2014-10-30 23:59:19  36.343410  6.148300  53.565048
4344500   1       1  2014-10-30 23:59:24  36.347080  6.074618  53.572735
4344501   1       1  2014-10-30 23:59:29  36.312805  6.027627  53.535816
4344502   1       1  2014-10-30 23:59:34  36.283867  6.049960  53.498718
4344503   1       1  2014-10-30 23:59:39  36.227116  6.095249  53.442852
4344504   1       1  2014-10-30 23:59:44  36.225380  6.098502  53.443928
4344505   1       1  2014-10-30 23:59:49  36.216202  6.124559  53.430653
4344506   1       1  2014-10-30 23:59:54  36.218822  6.168975  53.436802
4344507   1       1  2014-10-30 23:59:59  36.258484  6.124479  53.478966

[227920 rows x 6 columns]

In [3]:
datadir = "/datasets/eurora_data/db/"
infile = datadir + "jobs.csv"
    
# read dataset
all_jobs = pd.read_csv(infile) # Read a comma-separated values (csv) file into DataFrame

/usr/local/lib/python3.5/dist-packages/IPython/core/interactiveshell.py:3049: DtypeWarning: Columns (11) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

# Jobs info

In [13]:
all_jobs.head(2)

,job_id,job_id_string,job_name,queue,start_time,run_start_time,end_time,user,node_req,cpu_req,mem_req,time_req,deleted,dependency,exit_status,pbs_exit_code
0,1,498458.node129,rth2e6t0,parallel,2014-03-31 00:30:02,2014-03-31 00:30:02,2014-03-31 01:22:40,alupi000@node129.eurora.cineca.it,1,16,14,04:00,NaN,NaN,COMPLETED,NaN
1,2,498459.node129,CPMD,parallel,2014-03-31 00:36:51,2014-03-31 00:36:51,2014-03-31 00:40:13,framondo@node129.eurora.cineca.it,1,16,14,01:00,NaN,NaN,COMPLETED,NaN

In [12]:
all_jobs = all_jobs.sort_values('start_time')
jobs_num = all_jobs.shape[0]
print("There are {} jobs, from {} to {}".format(jobs_num, all_jobs.iloc[0].start_time,  all_jobs.iloc[jobs_num-1].start_time))

There are 405771 jobs, from 2014-03-31 00:30:02 to 2015-08-10 21:20:42