# Database data

In [14]:
#!/usr/bin/env python3

import pandas as pd
import errno
import os, sys


'''
Author: Enrico Ceccolini
    Explore the original Eurora measurements db
    
'''

'\nAuthor: Enrico Ceccolini\n    Explore the original Eurora measurements db\n    \n'

In [3]:
datadir = "/datasets/eurora_data/db/"
infile = datadir + "jobs.csv"
    
# read dataset
all_jobs = pd.read_csv(infile) # Read a comma-separated values (csv) file into DataFrame

/usr/local/lib/python3.5/dist-packages/IPython/core/interactiveshell.py:3049: DtypeWarning: Columns (11) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

# Jobs info

In [13]:
all_jobs.head(2)

,job_id,job_id_string,job_name,queue,start_time,run_start_time,end_time,user,node_req,cpu_req,mem_req,time_req,deleted,dependency,exit_status,pbs_exit_code
0,1,498458.node129,rth2e6t0,parallel,2014-03-31 00:30:02,2014-03-31 00:30:02,2014-03-31 01:22:40,alupi000@node129.eurora.cineca.it,1,16,14,04:00,NaN,NaN,COMPLETED,NaN
1,2,498459.node129,CPMD,parallel,2014-03-31 00:36:51,2014-03-31 00:36:51,2014-03-31 00:40:13,framondo@node129.eurora.cineca.it,1,16,14,01:00,NaN,NaN,COMPLETED,NaN

In [12]:
all_jobs = all_jobs.sort_values('start_time')
jobs_num = all_jobs.shape[0]
print("There are {} jobs, from {} to {}".format(jobs_num, all_jobs.iloc[0].start_time,  all_jobs.iloc[jobs_num-1].start_time))

There are 405771 jobs, from 2014-03-31 00:30:02 to 2015-08-10 21:20:42