In [8]:
import pandas as pd
import numpy as np

datadir = "/datasets/eurora_data/db1/"
infile_jobs = datadir + "jobs_cleaned.csv"

#April
#start_time = pd.to_datetime('2014-03-31')
#end_time = pd.to_datetime('2014-05-01')
### select an interval from
## 1 settings wholeData
#interval_comment_whole = "WholeData"

### select an interval from
## 2 settings Andrea
#interval_comment = "Andrea"
#start_time = pd.to_datetime('2014-03-31')
#end_time = pd.to_datetime('2014-05-01')
#infile_jobs = datadir + "april_long_jobs.csv"

## 3 settings Alina
#interval_comment = "Alina"
#start_time = pd.to_datetime('2014-06-30')
#end_time = pd.to_datetime('2014-11-01')
#infile_jobs = datadir + 'CPUs/' + interval_comment + "/short_jobs_real_pow.csv"

## 4 settings AfterAlina
interval_comment = "AfterAlina"
start_time = pd.to_datetime('2014-03-31')
end_time = pd.to_datetime('2014-07-01')

# read dataset
whole_data_jobs = pd.read_csv(infile_jobs) # Read a comma-separated values (csv) file into DataFrame
whole_data_jobs.shape

(404792, 18)

In [9]:
whole_data_jobs.head(1)

,job_id,job_id_string,job_name,queue,start_time,run_start_time,end_time,user,node_req,cpu_req,mem_req,time_req,deleted,dependency,exit_status,pbs_exit_code,gpu_req,mic_req
0,205722,1006691.node129,sub_Tio2_2x2x1_,parallel,2014-08-13 00:01:21,2014-08-13 00:03:14,2014-08-13 03:03:48,mpalummo@node129.eurora.cineca.it,1,16,0,NaN,NaN,NaN,COMPLETED,NaN,NaN,NaN

In [10]:
dropped_data_jobs = whole_data_jobs[pd.to_datetime(whole_data_jobs['run_start_time']) >= start_time]
dropped_data_jobs.shape

(404792, 18)

In [11]:
dropped_data_jobs = dropped_data_jobs[pd.to_datetime(dropped_data_jobs['end_time']) <= end_time]
dropped_data_jobs.shape

(100003, 18)

In [7]:
#outfile = datadir + 'CPUs/' + interval_comment + "/short_jobs_real_pow.csv"
#dropped_data_jobs.to_csv(outfile)

### keep jobs shorter than 1 min

In [5]:
#short_jobs = dropped_data_jobs[pd.to_datetime(dropped_data_jobs['end_time']) - pd.to_datetime(dropped_data_jobs['run_start_time']) <= np.timedelta64(1, 'm')]
#print("short jobs (running time < 1 min) contains {} jobs".format(short_jobs.shape[0]))

In [6]:
#outfile = datadir + "april_short_jobs"
#short_jobs.to_csv(outfile + ".csv")