In [9]:
import pandas as pd
import numpy as np

datadir = "/datasets/eurora_data/db1/"
infile_jobs = datadir + "jobs_cleaned.csv"

#April
#start_time = pd.to_datetime('2014-03-31')
#end_time = pd.to_datetime('2014-05-01')
### select an interval from
## 1 settings wholeData
#interval_comment_whole = "WholeData"

### select an interval from
## 2 settings Andrea
#interval_comment = "Andrea"
#start_time = pd.to_datetime('2014-03-31')
#end_time = pd.to_datetime('2014-05-01')
#infile_jobs = datadir + "april_long_jobs.csv"

## 3 settings Alina
interval_comment = "Alina"
start_time = pd.to_datetime('2014-06-30')
end_time = pd.to_datetime('2014-11-01')
infile_jobs = datadir + 'CPUs/' + interval_comment + "/short_jobs_real_pow.csv"

# read dataset
whole_data_jobs = pd.read_csv(infile_jobs) # Read a comma-separated values (csv) file into DataFrame
whole_data_jobs.shape

/usr/local/lib/python3.5/dist-packages/IPython/core/interactiveshell.py:3049: DtypeWarning: Columns (13) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

(206634, 25)

In [10]:
whole_data_jobs.head(1)

,Unnamed: 0,job_id,job_id_string,job_name,queue,start_time,run_start_time,end_time,user,node_req,...,exit_status,pbs_exit_code,gpu_req,mic_req,real_pow,runned_alone,real_pow_quality,n_2_1,n_2_2,n_3_1
0,0,205753,1006722.node129,rLdir0,parallel,2014-08-13 04:30:15,2014-08-13 04:30:17,2014-08-13 04:30:29,mdotti00@node129.eurora.cineca.it,1,...,COMPLETED,NaN,0.0,0.0,66.708124,True,1.0,1,0,0

In [11]:
dropped_data_jobs = whole_data_jobs[pd.to_datetime(whole_data_jobs['run_start_time']) >= start_time]
dropped_data_jobs.shape

(206634, 25)

In [12]:
dropped_data_jobs = dropped_data_jobs[pd.to_datetime(dropped_data_jobs['end_time']) <= end_time]
dropped_data_jobs.shape

(206634, 25)

In [13]:
outfile = datadir + 'CPUs/' + interval_comment + "/short_jobs_real_pow.csv"
dropped_data_jobs.to_csv(outfile)

### keep jobs shorter than 1 min

In [13]:
short_jobs = dropped_data_jobs[pd.to_datetime(dropped_data_jobs['end_time']) - pd.to_datetime(dropped_data_jobs['run_start_time']) <= np.timedelta64(1, 'm')]
print("short jobs (running time < 1 min) contains {} jobs".format(short_jobs.shape[0]))

short jobs (running time < 1 min) contains 66179 jobs

In [14]:
outfile = datadir + "april_short_jobs"
short_jobs.to_csv(outfile + ".csv")