In [1]:
#!/usr/bin/env python3

import pandas as pd
import errno    
import os
import numpy as np
import math

'''
Author: Enrico Ceccolini
    TODO write the description
'''

datadir = "/datasets/eurora_data/db1/"

infile_jobs_to_nodes = datadir + "job_nodes.csv"

#infile_jobs = datadir + "april_long_jobs.csv"
infile_jobs = datadir + "jobs_cleaned.csv"

# settings
#interval_comment = "Andrea"
#start_time = pd.to_datetime('2014-03-31')
#end_time = pd.to_datetime('2014-05-01')
suffix = "_1min_"

interval_comment = "WholeData"
start_time = pd.to_datetime('2014-03-31')
end_time = pd.to_datetime('2015-08-12')

## notice that 43 doesn't exists in the db
nodes=['01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24', '25', '26', '27', '28', '29', '30', '31', '32', '33', '34', '35', '36', '37', '38', '39', '40', '41', '42', '44', '45', '46', '47', '48', '49', '50', '51', '52', '53', '54', '55', '56', '57', '58', '59', '60', '61', '62', '63', '64']
# cpus=['02'] # test

In [2]:
infile_node = datadir + "CPUs/" + interval_comment + "/node01" + suffix + interval_comment + "_active_cores_and_jobs"
node_data = pd.read_csv(infile_node + ".csv", index_col=0)

In [3]:
node_data.head()

,timestamp,pow_tot_0,pow_tot_1,active_cores,active_jobs,active_gpus,active_mics
0,2014-03-31 00:00:00,22.750122,24.923517,0,0,0,0
1,2014-03-31 00:01:00,22.493928,24.574456,0,0,0,0
2,2014-03-31 00:02:00,22.324329,24.492541,0,0,0,0
3,2014-03-31 00:03:00,21.853533,23.842877,0,0,0,0
4,2014-03-31 00:04:00,22.043767,23.952392,0,0,0,0

In [4]:
node_data['total_pow'] = node_data['pow_tot_0'] + node_data['pow_tot_1']

In [13]:
node_data.head()

   active_cores  active_jobs  active_gpus  active_mics  total_pow
0             0            0            0            0  47.673639
1             0            0            0            0  47.068385
2             0            0            0            0  46.816870
3             0            0            0            0  45.696410
4             0            0            0            0  45.996159

In [7]:
node_data = node_data.drop(['pow_tot_0', 'pow_tot_1'], axis=1)

In [10]:
node_data = node_data.drop(['timestamp'], axis=1)

In [11]:
outfile_node = datadir + "CPUs/" + interval_comment + "/node01" + "_noTimestamp_" + interval_comment + "_active_cores_and_jobs"
node_data.to_csv(outfile_node + ".csv")