In [1]:
#!/usr/bin/env python3

import pandas as pd
import errno    
import os
import numpy as np
import math

'''
Author: Enrico Ceccolini
    assing to each timepoint the number of active cores and active jobs
    
'''

datadir = "/datasets/eurora_data/db1/"
datadir = "/datasets/eurora_data/db/"

infile_jobs_to_nodes = datadir + "job_nodes.csv"

# settings
interval_comment = "Andrea"
start_time = pd.to_datetime('2014-03-31')
end_time = pd.to_datetime('2014-05-01')

interval_comment_whole = "WholeData"
start_time_whole = pd.to_datetime('2014-03-24')
end_time_whole = pd.to_datetime('2015-08-12')

suffix = "_5sec_"

infile_jobs = datadir + "CPUs/" + interval_comment + "/jobs_cleaned.csv" #01_clean_original_data_jobs

## notice that 43 doesn't exists in the db
nodes=['01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24', '25', '26', '27', '28', '29', '30', '31', '32', '33', '34', '35', '36', '37', '38', '39', '40', '41', '42', '44', '45', '46', '47', '48', '49', '50', '51', '52', '53', '54', '55', '56', '57', '58', '59', '60', '61', '62', '63', '64']
# cpus=['02'] # test

In [2]:
jobs_to_nodes_whole_data = pd.read_csv(infile_jobs_to_nodes, index_col=0)
print("jobs_to_nodes_whole_data contains {} records".format(jobs_to_nodes_whole_data.shape[0]))

jobs_data = pd.read_csv(infile_jobs)
print("jobs_whole_data contains {} records".format(jobs_data.shape[0]))

jobs_to_nodes_whole_data contains 469095 records
jobs_whole_data contains 88537 records

/usr/local/lib/python3.5/dist-packages/IPython/core/interactiveshell.py:3049: DtypeWarning: Columns (11) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
interval_data_jobs = jobs_data[pd.to_datetime(jobs_data['run_start_time']) >= start_time]
interval_data_jobs = interval_data_jobs[pd.to_datetime(interval_data_jobs['end_time']) <= end_time]
print("interval_data_jobs contains {} records".format(interval_data_jobs.shape[0]))

interval_data_jobs contains 88537 records

#### solve the problem of jobs runned on node 129

In [4]:
### clean the data
# remove jobs runned on the inexistent node 129
jobs_to_nodes_whole_data = jobs_to_nodes_whole_data[jobs_to_nodes_whole_data['node_id'] != 129] 
# remove jobs with the same id that runned on the same node
jobs_to_nodes_whole_data = jobs_to_nodes_whole_data.drop_duplicates(subset=['job_id_string', 'node_id'])
print("after the clean, jobs_to_nodes_whole_data contains {} records".format(jobs_to_nodes_whole_data.shape[0]))

after the clean, jobs_to_nodes_whole_data contains 444610 records

In [5]:
### merge the info from the two tables
merged_jobs_to_nodes = pd.merge(interval_data_jobs, jobs_to_nodes_whole_data, how='left', on='job_id_string')
print("merged_jobs_to_nodes contains {} records".format(merged_jobs_to_nodes.shape[0]))

merged_jobs_to_nodes contains 94962 records

In [6]:
# drop the jobs out of time range
#interval_data_jobs = merged_jobs_to_nodes[pd.to_datetime(merged_jobs_to_nodes['run_start_time']) >= start_time]
#interval_data_jobs = interval_data_jobs[pd.to_datetime(interval_data_jobs['end_time']) <= end_time]
#interval_data_jobs = interval_data_jobs.sort_values('run_start_time')
#print("interval_data_jobs contains {} records".format(interval_data_jobs.shape[0]))

In [7]:
merged_jobs_to_nodes.head(1)

,job_id,job_id_string,job_name,queue,start_time,run_start_time,end_time,user,node_req,cpu_req,...,dependency,exit_status,pbs_exit_code,gpu_req,mic_req,node_id,ncpus,ngpus,nmics,mem_requested
0,1,498458.node129,rth2e6t0,parallel,2014-03-31 00:30:02,2014-03-31 00:30:02,2014-03-31 01:22:40,alupi000@node129.eurora.cineca.it,1,16,...,NaN,COMPLETED,NaN,NaN,NaN,17,16,0,0,14680064

In [8]:
node = "33"
print(node)
interval_jobs_to_node = merged_jobs_to_nodes[merged_jobs_to_nodes['node_id'] == int(node)]
print("interval_jobs_node_data contains {} records".format(interval_jobs_to_node.shape[0]))
# read the power mesuraments file obtained with "keep_nodes_data_by_period_1min_sample.py"
infile_node = datadir + "CPUs/" + interval_comment + "/node" + node + suffix + interval_comment

node_data = pd.read_csv(infile_node + ".csv", index_col=1)
print(node_data.shape[0])

33
interval_jobs_node_data contains 3144 records
535681

In [9]:
node_data.head

<bound method NDFrame.head of                      Unnamed: 0    pow_tot
timestamp
2014-03-31 00:00:00      120960  48.470363
2014-03-31 00:00:05      120961  48.666712
2014-03-31 00:00:10      120962  48.103143
2014-03-31 00:00:15      120963  48.825427
2014-03-31 00:00:20      120964  49.113086
2014-03-31 00:00:25      120965  49.517445
2014-03-31 00:00:30      120966  49.479958
2014-03-31 00:00:35      120967  53.959151
2014-03-31 00:00:40      120968  48.646717
2014-03-31 00:00:45      120969  48.088002
2014-03-31 00:00:50      120970  48.352716
2014-03-31 00:00:55      120971  48.077022
2014-03-31 00:01:00      120972  47.976708
2014-03-31 00:01:05      120973  47.526813
2014-03-31 00:01:10      120974  48.320169
2014-03-31 00:01:15      120975  47.795408
2014-03-31 00:01:20      120976  47.921526
2014-03-31 00:01:25      120977  47.844918
2014-03-31 00:01:30      120978  47.839340
2014-03-31 00:01:35      120979  47.759985
2014-03-31 00:01:40      120980  47.464234
2014-03-31 00:01:45      120981  48.253777
2014-03-31 00:01:50      120982  49.490724
2014-03-31 00:01:55      120983  47.472237
2014-03-31 00:02:00      120984  48.542139
2014-03-31 00:02:05      120985  47.446722
2014-03-31 00:02:10      120986  47.769354
2014-03-31 00:02:15      120987  48.085272
2014-03-31 00:02:20      120988  47.698478
2014-03-31 00:02:25      120989  47.879309
...                         ...        ...
2014-04-30 23:57:35      656611  54.682863
2014-04-30 23:57:40      656612  54.628532
2014-04-30 23:57:45      656613  54.600004
2014-04-30 23:57:50      656614  54.568982
2014-04-30 23:57:55      656615  54.634207
2014-04-30 23:58:00      656616  54.744791
2014-04-30 23:58:05      656617  54.569355
2014-04-30 23:58:10      656618        NaN
2014-04-30 23:58:15      656619  54.676868
2014-04-30 23:58:20      656620  54.801298
2014-04-30 23:58:25      656621  54.677424
2014-04-30 23:58:30      656622  54.844066
2014-04-30 23:58:35      656623  55.001594
2014-04-30 23:58:40      656624  54.920362
2014-04-30 23:58:45      656625  54.831278
2014-04-30 23:58:50      656626  54.946097
2014-04-30 23:58:55      656627  54.827073
2014-04-30 23:59:00      656628  54.884245
2014-04-30 23:59:05      656629  54.904135
2014-04-30 23:59:10      656630  54.940552
2014-04-30 23:59:15      656631  55.171922
2014-04-30 23:59:20      656632  55.055096
2014-04-30 23:59:25      656633  54.965863
2014-04-30 23:59:30      656634  54.830033
2014-04-30 23:59:35      656635  54.857816
2014-04-30 23:59:40      656636  54.931046
2014-04-30 23:59:45      656637  54.794237
2014-04-30 23:59:50      656638  54.737390
2014-04-30 23:59:55      656639  54.786441
2014-05-01 00:00:00      656640  55.246406

[535681 rows x 2 columns]>

drop where node_id is NaN

torna l'assenza del node 43 e la scarsità di 22, 41, 53,

In [10]:
#regular_data_jobs = merged_jobs_to_nodes[merged_jobs_to_nodes.node_id >= 1]
#regular_data_jobs = regular_data_jobs[regular_data_jobs.node_id <= 64]
#regular_data_jobs.shape

In [ ]:
for node in nodes:
    print(node)
    interval_jobs_to_node = merged_jobs_to_nodes[merged_jobs_to_nodes['node_id'] == int(node)]
    print("interval_jobs_node_data contains {} records".format(interval_jobs_to_node.shape[0]))
    # read the power mesuraments file obtained with "keep_nodes_data_by_period_1min_sample.py"
    infile_node = datadir + "CPUs/" + interval_comment + "/node" + node + suffix + interval_comment
    
    node_data = pd.read_csv(infile_node + ".csv", index_col=1)
    print(node_data.shape[0])
    node_start_time = node_data.index[0]
    #node_data.reset_index()
    
    num_minutes = node_data.shape[0]
    active_cores = pd.Series(0, index=np.arange(num_minutes))
    active_jobs = pd.Series(0, index=np.arange(num_minutes))
    active_gpus = pd.Series(0, index=np.arange(num_minutes))
    active_mics = pd.Series(0, index=np.arange(num_minutes))
    
    i = 0
    num_jobs = interval_jobs_to_node.shape[0]
    for index, row in interval_jobs_to_node.iterrows():
        #print("{}/{}   {}".format(i, num_jobs, row['job_id_string']))
        i = i + 1
        job_start_time = pd.to_datetime(row['run_start_time'])
        # print(start_time)
        job_end_time = pd.to_datetime(row['end_time'])
        job_cores = row['ncpus']
        job_gpus = row['ngpus']
        job_mics = row['nmics']
        
        #print(job_start_time)
        #print(pd.to_datetime(node_start_time))
        before_minutes = int((job_start_time - pd.to_datetime(node_start_time)) / np.timedelta64(5, 's'))
        running_minutes = int((job_end_time - job_start_time) / np.timedelta64(5, 's'))
        after_minutes = num_minutes - running_minutes - before_minutes
        #print("{} - {} - {}".format(before_minutes, running_minutes, after_minutes))
        before_serie = pd.Series(0, index=np.arange(before_minutes))
        after_serie = pd.Series(0, index=np.arange(after_minutes))
        running_serie = pd.Series(job_cores, index=np.arange(running_minutes))
        concat_series = pd.concat([before_serie, running_serie, after_serie], ignore_index=True)
        active_cores = active_cores.add(concat_series, fill_value=0)

        running_serie = pd.Series(1, index=np.arange(running_minutes))
        concat_series = pd.concat([before_serie, running_serie, after_serie], ignore_index=True)
        active_jobs= active_jobs.add(concat_series, fill_value=0)

        running_serie = pd.Series(job_gpus, index=np.arange(running_minutes))
        concat_series = pd.concat([before_serie, running_serie, after_serie], ignore_index=True)
        active_gpus = active_gpus.add(concat_series, fill_value=0)

        running_serie = pd.Series(job_mics, index=np.arange(running_minutes))
        concat_series = pd.concat([before_serie, running_serie, after_serie], ignore_index=True)
        active_mics = active_mics.add(concat_series, fill_value=0)
        
    node_data['active_cores'] = active_cores.values
    node_data['active_jobs'] = active_jobs.values
    node_data['active_gpus'] = active_gpus.values
    node_data['active_mics'] = active_mics.values
    
    node_data.to_csv(infile_node + "_active_cores_and_jobs" + ".csv")