In [86]:
#!/usr/bin/env python3

import pandas as pd
import errno    
import os
import numpy as np
import math

'''
Author: Enrico Ceccolini
    TODO write the description
'''

datadir = "/datasets/eurora_data/db_local/"
#datadir = "/datasets/eurora_data/db/"
#datadir = "C:/Users/folid/git-repo/hpc_job_power_prediction/datasets/eurora_data/db_local/"

infile_jobs_to_nodes = datadir + "job_nodes.csv"
infile_nodes = datadir + "nodes.csv"

suffix = "_5sec_"
### select an interval from
## 1 settings wholeData
interval_comment_whole = "WholeData"

## 2 settings Andrea
#interval_comment = "Andrea"
#start_time = pd.to_datetime('2014-03-31')
#end_time = pd.to_datetime('2014-05-01')
#infile_jobs = datadir + "CPUs/" + interval_comment + "/jobs_cleaned"

## 3 settings Alina
interval_comment = "Alina"
start_time = pd.to_datetime('2014-03-31')
end_time = pd.to_datetime('2014-11-01')

infile_jobs = datadir + "CPUs/" + interval_comment + "/jobs_cleaned"
#infile_jobs = datadir + "CPUs/" + interval_comment + "/Alina_jobs_real_pow_t2_54_234192"

#infile_jobs = datadir + "CPUs/jobs_cleaned_whole"

nodes=['01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24', '25', '26', '27', '28', '29', '30', '31', '32', '33', '34', '35', '36', '37', '38', '39', '40', '41', '42', '44', '45', '46', '47', '48', '49', '50', '51', '52', '53', '54', '55', '56', '57', '58', '59', '60', '61', '62', '63', '64']
#nodes=['01']
gpu_nodes = ['33', '34', '35', '36', '37', '38', '39', '40', '41', '42', '44', '45', '46', '47', '48', '49', '50', '51', '52', '53', '54', '55', '56', '57', '58', '59', '60', '61', '62', '63', '64']
mic_nodes = ['01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24', '25', '26', '27', '28', '29', '30', '31', '32']

Along the nodes we have three differentIntel Xeon E5 processors stepping: nodes 1-16 & 25-32 havea maximum frequency of 2.1GHz (CPUs-2100), nodes 17-24 have a maximum frequency of 2.2GHz (CPUs-2200), andnodes 33-64 have a maximum frequency of 3.1GHz (CPUs-3100).

In [87]:
nodes_data = pd.read_csv(infile_nodes, index_col=0)
# nodes_data

### Read job2nodes data

In [88]:
jobs_to_nodes_whole_data = pd.read_csv(infile_jobs_to_nodes, index_col=0)
print("jobs_to_nodes_whole_data contains {} records".format(jobs_to_nodes_whole_data.shape[0]))

jobs_to_nodes_whole_data contains 469095 records

#### solve the problem of jobs runned on node 129

In [89]:
jobs_to_nodes_whole_data = jobs_to_nodes_whole_data[jobs_to_nodes_whole_data['node_id'] != 129]
print("jobs_to_nodes_whole_data now contains {} records".format(jobs_to_nodes_whole_data.shape[0]))

jobs_to_nodes_whole_data now contains 469020 records

#### solve the problem of duplicates job_id_string, node_id
this is probably caused by the concurrency writing of the database

In [90]:
#jobs_to_nodes_whole_data = jobs_to_nodes_whole_data.drop_duplicates(subset=['job_id_string', 'node_id'])
#print("jobs_to_nodes_whole_data now contains {} records".format(jobs_to_nodes_whole_data.shape[0]))

### Read jobs data

drop the jobs out of interval

In [91]:
jobs_whole = pd.read_csv(infile_jobs + ".csv", index_col=0)
print("jobs_whole_data contains {} records".format(jobs_whole.shape[0]))

jobs_whole_data contains 336787 records

/usr/local/lib/python3.5/dist-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (11) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [92]:
interval_jobs = jobs_whole[pd.to_datetime(jobs_whole['end_time']) <= end_time]
interval_jobs = interval_jobs[pd.to_datetime(interval_jobs['run_start_time']) > start_time]
print("Alina set contains {} records".format(interval_jobs.shape[0]))

Alina set contains 336787 records

#### merge

In [93]:
merged_jobs_to_nodes = pd.merge(jobs_to_nodes_whole_data, interval_jobs, on='job_id_string')
print(merged_jobs_to_nodes.shape[0])

381008

#debug
merged_jobs_to_node = merged_jobs_to_nodes[merged_jobs_to_nodes['node_id'] == int(node)]
merged_jobs_to_node.shape

In [94]:
### remove to continue from a specific job
##long_jobs = long_jobs.drop(['real_pow', 'runned_alone', 'real_pow_quality'], axis=1) #old?

interval_jobs['real_pow_acc'] = 0.0
#interval_jobs['ran_alone'] = True
#interval_jobs['real_pow_quality'] = 0.0

#debug
jobs_whole = jobs_whole.head(15)
debug_merged_jobs_to_nodes = merged_jobs_to_nodes.head(1000)
merged_jobs_to_nodes[merged_jobs_to_nodes['node_id'] == 55]['end_time']
nodes = ['55']

In [95]:
interval_jobs.head()

,job_id_string,job_name,queue,start_time,run_start_time,end_time,user,node_req,cpu_req,mem_req,time_req,deleted,dependency,exit_status,pbs_exit_code,gpu_req,mic_req,real_pow_acc
job_id,,,,,,,,,,,,,,,,,,
1,498458.node129,rth2e6t0,parallel,2014-03-31 00:30:02,2014-03-31 00:30:02,2014-03-31 01:22:40,alupi000@node129.eurora.cineca.it,1,16,14,04:00,NaN,NaN,COMPLETED,NaN,NaN,NaN,0.0
2,498459.node129,CPMD,parallel,2014-03-31 00:36:51,2014-03-31 00:36:51,2014-03-31 00:40:13,framondo@node129.eurora.cineca.it,1,16,14,01:00,NaN,NaN,COMPLETED,NaN,NaN,NaN,0.0
3,498460.node129,7ribb-relax,parallel,2014-03-31 00:54:37,2014-03-31 00:54:38,2014-03-31 04:55:17,vcalzia0@node129.eurora.cineca.it,6,96,84,04:00,NaN,NaN,COMPLETED,NaN,NaN,NaN,0.0
4,498461.node129,rth2e6t0DC,parallel,2014-03-31 01:00:01,2014-03-31 01:00:02,2014-03-31 05:01:18,alupi000@node129.eurora.cineca.it,1,16,14,04:00,NaN,NaN,COMPLETED,NaN,NaN,NaN,0.0
5,498462.node129,rth2e6t0,parallel,2014-03-31 01:30:02,2014-03-31 01:30:02,2014-03-31 02:24:29,alupi000@node129.eurora.cineca.it,1,16,14,04:00,NaN,NaN,COMPLETED,NaN,NaN,NaN,0.0

#debug
if(int("2014-03-31 00:30:07"[18:]) > 5):
    print("2014-03-31 00:30:07"[:-1] + "5")
else:
    print("2014-03-31 00:30:07"[:-1] + "0")
    
if(int("2014-03-31 00:30:11"[18:]) >= 5):
    print(pd.to_datetime("2014-03-31 00:30:11"[:-1] + "0") + np.timedelta64(10, 's'))
else:
    print(pd.to_datetime("2014-03-31 00:30:11"[:-1] + "5"))

In [96]:
#debug
merged_jobs_to_nodes.head(1)

,node_id,job_id_string,ncpus,ngpus,nmics,mem_requested,job_name,queue,start_time,run_start_time,...,node_req,cpu_req,mem_req,time_req,deleted,dependency,exit_status,pbs_exit_code,gpu_req,mic_req
0,17,498458.node129,16,0,0,14680064,rth2e6t0,parallel,2014-03-31 00:30:02,2014-03-31 00:30:02,...,1,16,14,04:00,NaN,NaN,COMPLETED,NaN,NaN,NaN

In [97]:
import time

start_time = time.time()
i = 0
#i = 234193 # remove to continue from a specific job
outfile = datadir + 'CPUs/' + interval_comment + "/" + interval_comment + "_jobs_real_pow"

for node in nodes:
    # recupero le allocazioni nei vari nodi
    merged_jobs_to_node = merged_jobs_to_nodes[merged_jobs_to_nodes['node_id'] == int(node)]
    print("---------- {} jobs in node {}".format(merged_jobs_to_node.shape[0], node))
    infile_node = datadir + "CPUs/" + interval_comment + "/node" + node + suffix + interval_comment + "_active_cores_and_jobs.csv"
    node_measurements = pd.read_csv(infile_node)
    node_measurements['timestamp'] = pd.to_datetime(node_measurements['timestamp'])
    node_start_time = pd.to_datetime(node_measurements['timestamp'].iloc[0])
    num_minutes = node_measurements.shape[0]
    print("-------------------node data starts at {}, num minute {}".format(node_start_time, num_minutes))
    
    # per ogni nodo recupero ogni allocazione
    for index_job_to_node, row_job_to_node in merged_jobs_to_node.iterrows():
        
                
        #print()
        if(i % 1000 == 0):
            print("{}/{}".format(i, merged_jobs_to_nodes.shape[0]))
        i = i + 1
            
        ### verifico che il nodo usi uno tra gpu e mic, altrimenti passo al prossimo
        if node in gpu_nodes:
            col_name = "gpus_pow"
            if (row_job_to_node['ngpus'] == 0):
                continue
            job_n_acc = row_job_to_node['ngpus']
                
        if node in mic_nodes:
            col_name = "mics_pow"
            if (row_job_to_node['nmics'] == 0):
                continue
            job_n_acc = row_job_to_node['nmics']

        
        partial_pow_consumption = 0
        job_id_string = row_job_to_node['job_id_string']
        
        ## recupero indice del job in interval_jobs
        job = interval_jobs[interval_jobs['job_id_string'] == job_id_string]
        job_index = interval_jobs[interval_jobs['job_id_string'] == job_id_string].index
        if(job_index != None):
            ## recupero eventuali valori scritti in precedenti iterazioni
            job_real_pow_acc = job['real_pow_acc'].iloc[0] 
            
            job_start_time = pd.to_datetime(row_job_to_node['run_start_time'])
            job_end_time = pd.to_datetime(row_job_to_node['end_time'])
            
            if(job_end_time - job_start_time >= np.timedelta64(5, 's')):
                before_minutes = int((job_start_time - node_start_time) / np.timedelta64(5, 's'))
                running_minutes = int((job_end_time - job_start_time) / np.timedelta64(5, 's'))
                after_minutes = num_minutes - running_minutes - before_minutes
                
                before_serie = pd.Series(False, index=np.arange(before_minutes))
                running_serie = pd.Series(True, index=np.arange(running_minutes))
                after_serie = pd.Series(False, index=np.arange(after_minutes))
                concat_series = pd.concat([before_serie, running_serie, after_serie], ignore_index=True)
                
                interval_measurements = node_measurements[concat_series]
                
                interval_measurements = interval_measurements[interval_measurements[col_name] != 0]
                interval_measurements = interval_measurements[np.isfinite(interval_measurements[col_name])]
                
                ### group the intervals wehere the partial_pow_cons can be obtaied with the same instance of the formula
                ### take the mean for the pow columns
                # interval_grouped = interval_measurements.reset_index().groupby(["active_cores", "active_jobs", "active_gpus", "active_mics"]).mean()
                interval_grouped = interval_measurements.groupby(["active_jobs", "active_gpus", "active_mics"])
                counts = interval_grouped.size().to_frame(name='counts')
                interval_grouped = (counts
                 .join(interval_grouped.agg({col_name:'mean'}).rename(columns={col_name: 'acc_pow_mean'}))
                 .reset_index()
                )
                interval_grouped.sort_values('active_jobs')
                #print(interval_grouped)

                if(interval_grouped.shape[0]>1):
                    job_ran_alone = False


                if(interval_grouped.shape[0] != 0):
                    interval_grouped[col_name] = interval_grouped['acc_pow_mean'] / interval_grouped['active_jobs'] 

                    # not_alone_counts = interval_grouped['counts'].loc[interval_grouped['active_jobs'] != 1].sum()
                    # interval_grouped.loc[interval_grouped['active_jobs'] == 1, ['counts']] += not_alone_counts
                    #print(interval_grouped)
                    partial_pow_consumption = np.average(interval_grouped[col_name], weights=interval_grouped['counts'])
                    # partial_pow_consumption = partial_pow_consumption / interval_grouped.shape[0]
                    # print(interval_grouped)

                #print("partial measurement: {}".format(partial_pow_consumption))
                job_real_pow_acc += partial_pow_consumption
                partial_pow_consumption = 0

        
            else: # jobs shorter than 5 sec
                   # keep the only timepoint
                job_start_time = row_job_to_node['run_start_time']
                #job_end_time = row_job_to_node['end_time']
                if(int(job_start_time[18:]) >= 5):
                    job_start_time = pd.to_datetime(job_start_time[:-1] + "5")
                else:
                    job_start_time = pd.to_datetime(job_start_time[:-1] + "0")
                #if(int(job_end_time[18:]) >= 5):
                #    job_end_time = pd.to_datetime(job_end_time[:-1] + "0") + np.timedelta64(10, 's')
                #else:
                #    job_end_time = pd.to_datetime(job_end_time[:-1] + "5")
                
                measure = node_measurements[node_measurements['timestamp'] == job_start_time]
                #job_tot_timepoints += 1
                
                measure = measure.dropna()
                if(measure.shape[0] != 0):
                    
                    #job_good_nodes += 1
                    #if(measure['active_cores'].iloc[0] != 0):
                    #    job_ran_alone = False

                    active_jobs = measure['active_jobs'].iloc[0] + job_n_acc
                    #if(active_cores > 16):
                    #    active_cores = 16
                    job_real_pow_acc += measure[col_name].iloc[0] / active_jobs
              
            
            if (job_real_pow_acc < 0):
                job_real_pow_acc = 0.0
                
            #print("job_real_pow_acc: {}. {}".format(job_real_pow_acc, job_n_acc))
            
            interval_jobs.at[job_index, 'real_pow_acc'] = job_real_pow_acc
            #interval_jobs.at[job_index, 'n_2_1'] = job_n_2_1
            #interval_jobs.at[job_index, 'n_2_2'] = job_n_2_2
            #interval_jobs.at[job_index, 'n_3_1'] = job_n_3_1
            #interval_jobs.at[job_index, 'job_tot_timepoints'] = job_tot_timepoints
            #interval_jobs.at[job_index, 'job_timepoints'] = job_timepoints
            #interval_jobs.at[job_index, 'good_nodes'] = job_good_nodes
            #interval_jobs.at[job_index, 'ran_alone'] = job_ran_alone
    
        
        
    #if(i % 10000 == 0):
    interval_jobs.to_csv(outfile + "_" + node + "_" + str(i) + ".csv")
    print("--- %s seconds ---" % (time.time() - start_time))
        
interval_jobs.to_csv(outfile + "_" + node + "_" + str(i) + ".csv")

---------- 1746 jobs in node 01
-------------------node data starts at 2014-03-31 00:00:00, num minute 3715201
0/381008
1000/381008
--- 75.09539103507996 seconds ---
---------- 240 jobs in node 02
-------------------node data starts at 2014-03-31 00:00:00, num minute 3715201
--- 95.32685542106628 seconds ---
---------- 1625 jobs in node 03
-------------------node data starts at 2014-03-31 00:00:00, num minute 3715201
2000/381008
3000/381008
--- 123.07743191719055 seconds ---
---------- 1775 jobs in node 04
-------------------node data starts at 2014-03-31 00:00:00, num minute 3715201
4000/381008
5000/381008
--- 147.1897177696228 seconds ---
---------- 552 jobs in node 05
-------------------node data starts at 2014-03-31 00:00:00, num minute 3715201
--- 164.38458514213562 seconds ---
---------- 1570 jobs in node 06
-------------------node data starts at 2014-03-31 00:00:00, num minute 3715201
6000/381008
7000/381008
--- 185.4821937084198 seconds ---
---------- 1714 jobs in node 07
-------------------node data starts at 2014-03-31 00:00:00, num minute 3715201
8000/381008
9000/381008
--- 202.35524916648865 seconds ---
---------- 1326 jobs in node 08
-------------------node data starts at 2014-03-31 00:00:00, num minute 3715201
10000/381008
--- 222.79014039039612 seconds ---
---------- 779 jobs in node 09
-------------------node data starts at 2014-03-31 00:00:00, num minute 3715201
11000/381008
--- 240.08766531944275 seconds ---
---------- 1381 jobs in node 10
-------------------node data starts at 2014-03-31 00:00:00, num minute 3715201
12000/381008
--- 262.59887290000916 seconds ---
---------- 1768 jobs in node 11
-------------------node data starts at 2014-03-31 00:00:00, num minute 3715201
13000/381008
14000/381008
--- 282.88878178596497 seconds ---
---------- 480 jobs in node 12
-------------------node data starts at 2014-03-31 00:00:00, num minute 3715201
--- 298.0989725589752 seconds ---
---------- 1390 jobs in node 13
-------------------node data starts at 2014-03-31 00:00:00, num minute 3715201
15000/381008
16000/381008
--- 317.030886888504 seconds ---
---------- 419 jobs in node 14
-------------------node data starts at 2014-03-31 00:00:00, num minute 3715201
--- 330.9057011604309 seconds ---
---------- 422 jobs in node 15
-------------------node data starts at 2014-03-31 00:00:00, num minute 3715201
17000/381008
--- 344.78245759010315 seconds ---
---------- 437 jobs in node 16
-------------------node data starts at 2014-03-31 00:00:00, num minute 3715201
--- 358.11820912361145 seconds ---
---------- 2467 jobs in node 17
-------------------node data starts at 2014-03-31 00:00:00, num minute 3715201
18000/381008
19000/381008
20000/381008
--- 378.782368183136 seconds ---
---------- 1080 jobs in node 18
-------------------node data starts at 2014-03-31 00:00:00, num minute 3715201
21000/381008
--- 398.4872946739197 seconds ---
---------- 1106 jobs in node 19
-------------------node data starts at 2014-03-31 00:00:00, num minute 3715201
22000/381008
--- 415.7980761528015 seconds ---
---------- 1367 jobs in node 20
-------------------node data starts at 2014-03-31 00:00:00, num minute 3715201
23000/381008
--- 436.26887464523315 seconds ---
---------- 1223 jobs in node 21
-------------------node data starts at 2014-03-31 00:00:00, num minute 3715201
24000/381008
--- 455.42589473724365 seconds ---
---------- 3 jobs in node 22
-------------------node data starts at 2014-03-31 00:00:00, num minute 3715201
--- 467.7716896533966 seconds ---
---------- 1414 jobs in node 23
-------------------node data starts at 2014-03-31 00:00:00, num minute 3715201
25000/381008
26000/381008
--- 485.3605647087097 seconds ---
---------- 1580 jobs in node 24
-------------------node data starts at 2014-03-31 00:00:00, num minute 3715201
27000/381008
--- 504.9698076248169 seconds ---
---------- 1449 jobs in node 25
-------------------node data starts at 2014-03-31 00:00:00, num minute 3715201
28000/381008
29000/381008
--- 525.6018574237823 seconds ---
---------- 1100 jobs in node 26
-------------------node data starts at 2014-03-31 00:00:00, num minute 3715201
30000/381008
--- 543.1486597061157 seconds ---
---------- 1419 jobs in node 27
-------------------node data starts at 2014-03-31 00:00:00, num minute 3715201
31000/381008
--- 561.4373133182526 seconds ---
---------- 1164 jobs in node 28
-------------------node data starts at 2014-03-31 00:00:00, num minute 3715201
32000/381008
--- 579.735698223114 seconds ---
---------- 880 jobs in node 29
-------------------node data starts at 2014-03-31 00:00:00, num minute 3715201
33000/381008
--- 594.328042268753 seconds ---
---------- 786 jobs in node 30
-------------------node data starts at 2014-03-31 00:00:00, num minute 3715201
34000/381008
--- 608.734708070755 seconds ---
---------- 945 jobs in node 31
-------------------node data starts at 2014-03-31 00:00:00, num minute 3715201
35000/381008
--- 623.7054839134216 seconds ---
---------- 303 jobs in node 32
-------------------node data starts at 2014-03-31 00:00:00, num minute 3715201
--- 636.7430653572083 seconds ---
---------- 9710 jobs in node 33
-------------------node data starts at 2014-03-31 00:00:00, num minute 3715201
36000/381008
37000/381008
38000/381008
39000/381008
40000/381008
41000/381008
42000/381008
43000/381008
44000/381008
45000/381008
--- 997.0017704963684 seconds ---
---------- 8532 jobs in node 34
-------------------node data starts at 2014-03-31 00:00:00, num minute 3715201
46000/381008
47000/381008
48000/381008
49000/381008
50000/381008
51000/381008
52000/381008
53000/381008
54000/381008
--- 1297.978997707367 seconds ---
---------- 11099 jobs in node 35
-------------------node data starts at 2014-03-31 00:00:00, num minute 3715201
55000/381008
56000/381008
57000/381008
58000/381008
59000/381008
60000/381008
61000/381008
62000/381008
63000/381008
64000/381008
65000/381008
--- 1914.4849956035614 seconds ---
---------- 2449 jobs in node 36
-------------------node data starts at 2014-03-31 00:00:00, num minute 3715201
66000/381008
67000/381008
--- 2036.5733795166016 seconds ---
---------- 5047 jobs in node 37
-------------------node data starts at 2014-03-31 00:00:00, num minute 3715201
68000/381008
69000/381008
70000/381008
71000/381008
72000/381008
--- 2216.200049161911 seconds ---
---------- 10041 jobs in node 38
-------------------node data starts at 2014-03-31 00:00:00, num minute 3715201
73000/381008
74000/381008
75000/381008
76000/381008
77000/381008
78000/381008
79000/381008
80000/381008
81000/381008
82000/381008
--- 2697.868786096573 seconds ---
---------- 294 jobs in node 39
-------------------node data starts at 2014-03-31 00:00:00, num minute 3715201
83000/381008
--- 2710.895126581192 seconds ---
---------- 5372 jobs in node 40
-------------------node data starts at 2014-03-31 00:00:00, num minute 3715201
84000/381008
85000/381008
86000/381008
87000/381008
88000/381008
--- 2935.9739656448364 seconds ---
---------- 3 jobs in node 41
-------------------node data starts at 2014-03-31 00:00:00, num minute 3715201
--- 2948.175968647003 seconds ---
---------- 6207 jobs in node 42
-------------------node data starts at 2014-03-31 00:00:00, num minute 3715201
89000/381008
90000/381008
91000/381008
92000/381008
93000/381008
94000/381008
--- 3251.613023519516 seconds ---
---------- 26513 jobs in node 44
-------------------node data starts at 2014-03-31 00:00:00, num minute 3715201
95000/381008
96000/381008
97000/381008
98000/381008
99000/381008
100000/381008
101000/381008
102000/381008
103000/381008
104000/381008
105000/381008
106000/381008
107000/381008
108000/381008
109000/381008
110000/381008
111000/381008
112000/381008
113000/381008
114000/381008
115000/381008
116000/381008
117000/381008
118000/381008
119000/381008
120000/381008
121000/381008
--- 5131.122107744217 seconds ---
---------- 65505 jobs in node 45
-------------------node data starts at 2014-03-31 00:00:00, num minute 3715201
122000/381008
123000/381008
124000/381008
125000/381008
126000/381008
127000/381008
128000/381008
129000/381008
130000/381008
131000/381008
132000/381008
133000/381008
134000/381008
135000/381008
136000/381008
137000/381008
138000/381008
139000/381008
140000/381008

141000/381008
142000/381008
143000/381008
144000/381008
145000/381008
146000/381008
147000/381008
148000/381008
149000/381008
150000/381008
151000/381008
152000/381008
153000/381008
154000/381008
155000/381008
156000/381008
157000/381008
158000/381008
159000/381008
160000/381008
161000/381008
162000/381008
163000/381008
164000/381008
165000/381008
166000/381008
167000/381008
168000/381008
169000/381008
170000/381008
171000/381008
172000/381008
173000/381008
174000/381008
175000/381008
176000/381008
177000/381008
178000/381008
179000/381008
180000/381008
181000/381008
182000/381008
183000/381008
184000/381008
185000/381008
186000/381008
--- 10870.47729420662 seconds ---
---------- 7585 jobs in node 46
-------------------node data starts at 2014-03-31 00:00:00, num minute 3715201
187000/381008
188000/381008
189000/381008
190000/381008
191000/381008
192000/381008
193000/381008
194000/381008
--- 11359.90918302536 seconds ---
---------- 17507 jobs in node 47
-------------------node data starts at 2014-03-31 00:00:00, num minute 3715201
195000/381008
196000/381008
197000/381008
198000/381008
199000/381008
200000/381008
201000/381008
202000/381008
203000/381008
204000/381008
205000/381008
206000/381008
207000/381008
208000/381008
209000/381008
210000/381008
211000/381008
--- 12872.863098144531 seconds ---
---------- 5430 jobs in node 48
-------------------node data starts at 2014-03-31 00:00:00, num minute 3715201
212000/381008
213000/381008
214000/381008
215000/381008
216000/381008
217000/381008
--- 13107.431437015533 seconds ---
---------- 12530 jobs in node 49
-------------------node data starts at 2014-03-31 00:00:00, num minute 3715201
218000/381008
219000/381008
220000/381008
221000/381008
222000/381008
223000/381008
224000/381008
225000/381008
226000/381008
227000/381008
228000/381008
229000/381008
--- 14072.13069653511 seconds ---
---------- 4244 jobs in node 50
-------------------node data starts at 2014-03-31 00:00:00, num minute 3715201
230000/381008
231000/381008
232000/381008
233000/381008
--- 14293.228245735168 seconds ---
---------- 13102 jobs in node 51
-------------------node data starts at 2014-03-31 00:00:00, num minute 3715201
234000/381008
235000/381008
236000/381008
237000/381008
238000/381008
239000/381008
240000/381008
241000/381008
242000/381008
243000/381008
244000/381008
245000/381008
246000/381008
247000/381008
--- 15382.760086536407 seconds ---
---------- 1710 jobs in node 52
-------------------node data starts at 2014-03-31 00:00:00, num minute 3715201
248000/381008
--- 15533.835946798325 seconds ---
---------- 24 jobs in node 53
-------------------node data starts at 2014-03-31 00:00:00, num minute 3715201
--- 15546.05701637268 seconds ---
---------- 1766 jobs in node 54
-------------------node data starts at 2014-03-31 00:00:00, num minute 3715201
249000/381008
250000/381008
--- 15580.425467967987 seconds ---
---------- 27948 jobs in node 55
-------------------node data starts at 2014-03-31 00:00:00, num minute 3715201
251000/381008
252000/381008
253000/381008
254000/381008
255000/381008
256000/381008
257000/381008
258000/381008
259000/381008
260000/381008
261000/381008
262000/381008
263000/381008
264000/381008
265000/381008
266000/381008
267000/381008
268000/381008
269000/381008
270000/381008
271000/381008
272000/381008
273000/381008
274000/381008
275000/381008
276000/381008
277000/381008
278000/381008
--- 17775.329045772552 seconds ---
---------- 14383 jobs in node 56
-------------------node data starts at 2014-03-31 00:00:00, num minute 3715201
279000/381008
280000/381008
281000/381008
282000/381008
283000/381008
284000/381008
285000/381008
286000/381008
287000/381008
288000/381008
289000/381008
290000/381008
291000/381008
292000/381008
--- 19027.580117464066 seconds ---
---------- 11310 jobs in node 57
-------------------node data starts at 2014-03-31 00:00:00, num minute 3715201
293000/381008
294000/381008
295000/381008
296000/381008
297000/381008
298000/381008
299000/381008
300000/381008
301000/381008
302000/381008
303000/381008
304000/381008
--- 19914.59516787529 seconds ---
---------- 7112 jobs in node 58
-------------------node data starts at 2014-03-31 00:00:00, num minute 3715201
305000/381008
306000/381008
307000/381008
308000/381008
309000/381008
310000/381008
311000/381008
--- 20416.227429628372 seconds ---
---------- 20813 jobs in node 59
-------------------node data starts at 2014-03-31 00:00:00, num minute 3715201
312000/381008
313000/381008
314000/381008
315000/381008
316000/381008
317000/381008
318000/381008
319000/381008
320000/381008
321000/381008
322000/381008
323000/381008
324000/381008
325000/381008
326000/381008
327000/381008
328000/381008
329000/381008
330000/381008
331000/381008
332000/381008
--- 22171.876861333847 seconds ---
---------- 10008 jobs in node 60
-------------------node data starts at 2014-03-31 00:00:00, num minute 3715201
333000/381008
334000/381008
335000/381008
336000/381008
337000/381008
338000/381008
339000/381008
340000/381008
341000/381008
342000/381008
--- 22810.929045915604 seconds ---
---------- 5558 jobs in node 61
-------------------node data starts at 2014-03-31 00:00:00, num minute 3715201
343000/381008
344000/381008
345000/381008
346000/381008
347000/381008
--- 23137.528367996216 seconds ---
---------- 4481 jobs in node 62
-------------------node data starts at 2014-03-31 00:00:00, num minute 3715201
348000/381008
349000/381008
350000/381008
351000/381008
352000/381008
--- 23327.86903834343 seconds ---
---------- 8217 jobs in node 63
-------------------node data starts at 2014-03-31 00:00:00, num minute 3715201
353000/381008
354000/381008
355000/381008
356000/381008
357000/381008
358000/381008
359000/381008
360000/381008
--- 23771.229494571686 seconds ---
---------- 20598 jobs in node 64
-------------------node data starts at 2014-03-31 00:00:00, num minute 3715201
361000/381008
362000/381008
363000/381008
364000/381008
365000/381008
366000/381008
367000/381008
368000/381008
369000/381008
370000/381008
371000/381008
372000/381008
373000/381008
374000/381008
375000/381008
376000/381008
377000/381008
378000/381008
379000/381008
380000/381008
381000/381008
--- 25368.6242249012 seconds ---

In [99]:
interval_jobs[interval_jobs['real_pow_acc'] > 0.0]

,job_id_string,job_name,queue,start_time,run_start_time,end_time,user,node_req,cpu_req,mem_req,time_req,deleted,dependency,exit_status,pbs_exit_code,gpu_req,mic_req,real_pow_acc
job_id,,,,,,,,,,,,,,,,,,
32,498495.node129,4em_3PF,parallel,2014-03-31 08:51:10,2014-03-31 08:51:10,2014-03-31 12:14:44,pposocco@node129.eurora.cineca.it,1,1,1,04:00,DEL,NaN,COMPLETED,NaN,NaN,NaN,83.719502
35,498498.node129,4em_SPC,parallel,2014-03-31 08:51:10,2014-03-31 09:43:41,2014-03-31 10:27:25,pposocco@node129.eurora.cineca.it,1,1,1,04:00,DEL,NaN,COMPLETED,NaN,NaN,NaN,52.615125
36,498499.node129,4iR_3PF,parallel,2014-03-31 08:51:10,2014-03-31 09:43:41,2014-03-31 10:27:25,pposocco@node129.eurora.cineca.it,1,1,1,04:00,DEL,NaN,COMPLETED,NaN,NaN,NaN,52.615125
37,498500.node129,4iR_4P,parallel,2014-03-31 08:51:10,2014-03-31 10:02:01,2014-03-31 14:02:30,pposocco@node129.eurora.cineca.it,1,1,1,04:00,NaN,NaN,COMPLETED,NaN,NaN,NaN,53.172818
38,498501.node129,4iR_4PEW,parallel,2014-03-31 08:51:10,2014-03-31 10:27:26,2014-03-31 14:18:00,pposocco@node129.eurora.cineca.it,1,1,1,04:00,DEL,NaN,COMPLETED,NaN,NaN,NaN,35.888368
39,498502.node129,4iR_SPC,parallel,2014-03-31 08:51:10,2014-03-31 10:27:26,2014-03-31 14:19:34,pposocco@node129.eurora.cineca.it,1,1,1,04:00,DEL,NaN,COMPLETED,NaN,NaN,NaN,35.841604
40,498503.node129,iS2_3PF,parallel,2014-03-31 08:51:10,2014-03-31 10:55:42,2014-03-31 14:02:08,pposocco@node129.eurora.cineca.it,1,1,1,04:00,DEL,NaN,COMPLETED,NaN,NaN,NaN,24.674738
41,498504.node129,iS2_4P,parallel,2014-03-31 08:51:11,2014-03-31 10:55:42,2014-03-31 14:53:38,pposocco@node129.eurora.cineca.it,1,1,1,04:00,DEL,NaN,COMPLETED,NaN,NaN,NaN,27.076171
42,498505.node129,iS2_4PEW,parallel,2014-03-31 08:51:11,2014-03-31 10:57:13,2014-03-31 14:46:20,pposocco@node129.eurora.cineca.it,1,1,1,04:00,DEL,NaN,COMPLETED,NaN,NaN,NaN,30.641597
43,498506.node129,iS2_SPC,parallel,2014-03-31 08:51:11,2014-03-31 10:57:13,2014-03-31 14:32:10,pposocco@node129.eurora.cineca.it,1,1,1,04:00,DEL,NaN,COMPLETED,NaN,NaN,NaN,30.766906
53,498519.node129,pw,parallel,2014-03-31 09:23:29,2014-04-01 22:02:34,2014-04-02 00:50:17,apalma00@node129.eurora.cineca.it,4,64,56,04:00,NaN,NaN,COMPLETED,NaN,NaN,NaN,176.277299
58,498527.node129,St4,parallel,2014-03-31 09:34:35,2014-04-01 23:01:41,2014-04-02 01:24:50,mrutigli@node129.eurora.cineca.it,5,80,70,04:00,NaN,NaN,COMPLETED,NaN,NaN,NaN,221.092701
59,498528.node129,St4,parallel,2014-03-31 09:35:32,2014-04-02 01:24:50,2014-04-02 04:24:07,mrutigli@node129.eurora.cineca.it,5,80,70,04:00,NaN,NaN,COMPLETED,NaN,NaN,NaN,221.119728
64,498533.node129,Cu13-C,parallel,2014-03-31 10:10:01,2014-03-31 10:55:50,2014-03-31 13:55:16,jolmosas@node129.eurora.cineca.it,1,16,12,03:00,NaN,NaN,COMPLETED,NaN,NaN,NaN,26.027837
65,498540.node129,script_exe.sh,parallel,2014-03-31 10:13:39,2014-03-31 11:00:24,2014-03-31 11:02:43,marcased@node129.eurora.cineca.it,8,128,112,04:00,NaN,NaN,COMPLETED,NaN,NaN,NaN,404.802444
67,498542.node129,gmx,parallel,2014-03-31 10:19:20,2014-03-31 11:00:53,2014-03-31 11:54:22,cplatani@node129.eurora.cineca.it,4,64,56,03:00,NaN,NaN,COMPLETED,NaN,NaN,NaN,674.183776
70,498545.node129,gmx,parallel,2014-03-31 10:25:00,2014-03-31 11:02:43,2014-03-31 12:36:50,cplatani@node129.eurora.cineca.it,4,64,56,03:00,NaN,NaN,COMPLETED,NaN,NaN,NaN,671.084029
72,498547.node129,4iR_3PF,parallel,2014-03-31 10:28:43,2014-03-31 10:59:08,2014-03-31 14:48:27,pposocco@node129.eurora.cineca.it,1,1,1,04:00,DEL,NaN,COMPLETED,NaN,NaN,NaN,40.439349
73,498548.node129,4em_SPC,parallel,2014-03-31 10:29:01,2014-03-31 10:59:09,2014-03-31 14:50:07,pposocco@node129.eurora.cineca.it,1,1,1,04:00,DEL,NaN,COMPLETED,NaN,NaN,NaN,40.594872
74,498549.node129,gmx,parallel,2014-03-31 10:32:23,2014-03-31 11:02:43,2014-03-31 11:02:48,cplatani@node129.eurora.cineca.it,4,64,56,03:00,NaN,NaN,COMPLETED,NaN,NaN,NaN,102.605000
75,498550.node129,T6F_LC2NVT_001.,parallel,2014-03-31 10:34:55,2014-03-31 12:36:54,2014-03-31 13:40:22,gdavino0@node129.eurora.cineca.it,1,16,4,04:00,DEL,NaN,COMPLETED,NaN,NaN,NaN,147.271078
78,498554.node129,h2ogeo_opt,parallel,2014-03-31 10:40:40,2014-03-31 11:00:24,2014-03-31 11:00:53,mpividor@node129.eurora.cineca.it,4,64,4,00:30,NaN,NaN,COMPLETED,NaN,NaN,NaN,105.035700
80,498556.node129,invert_test.sh,debug,2014-03-31 10:52:49,2014-03-31 10:52:49,2014-03-31 10:53:00,mschroec@node129.eurora.cineca.it,1,1,5,00:30,NaN,NaN,COMPLETED,NaN,NaN,NaN,44.331500
83,498559.node129,eurora-test,parallel,2014-03-31 10:57:37,2014-03-31 11:02:58,2014-03-31 15:00:45,epapaleo@node129.eurora.cineca.it,1,6,4,04:00,NaN,NaN,COMPLETED,NaN,NaN,NaN,82.353610
84,498560.node129,eurora-test,parallel,2014-03-31 10:57:55,2014-03-31 11:06:25,2014-03-31 11:06:28,epapaleo@node129.eurora.cineca.it,1,6,4,04:00,NaN,NaN,COMPLETED,NaN,NaN,NaN,28.437333
85,498561.node129,eurora-test,parallel,2014-03-31 10:58:09,2014-03-31 11:06:29,2014-03-31 15:04:16,epapaleo@node129.eurora.cineca.it,1,6,4,04:00,NaN,NaN,COMPLETED,NaN,NaN,NaN,120.118864
86,498562.node129,eurora-test,parallel,2014-03-31 10:58:21,2014-03-31 11:08:08,2014-03-31 15:05:54,epapaleo@node129.eurora.cineca.it,1,6,4,04:00,NaN,NaN,COMPLETED,NaN,NaN,NaN,145.726945
87,498563.node129,eurora-test,parallel,2014-03-31 10:58:35,2014-03-31 11:09:23,2014-03-31 15:07:12,epapaleo@node129.eurora.cineca.it,1,6,4,04:00,NaN,NaN,COMPLETED,NaN,NaN,NaN,71.791923
89,498565.node129,eurora-test,parallel,2014-03-31 10:59:23,2014-03-31 11:02:48,2014-03-31 15:00:36,ldegioia@node129.eurora.cineca.it,1,5,2,04:00,NaN,NaN,COMPLETED,NaN,NaN,NaN,60.933521
90,498566.node129,eurora-test,parallel,2014-03-31 10:59:40,2014-03-31 11:02:48,2014-03-31 11:02:58,ldegioia@node129.eurora.cineca.it,1,6,4,04:00,NaN,NaN,COMPLETED,NaN,NaN,NaN,41.500000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
335391,1340162.node129,V_D594N_p,parallel,2014-10-06 14:38:29,2014-10-07 05:49:38,2014-10-07 06:55:56,dmarson0@node129.eurora.cineca.it,1,1,1048576,NaN,NaN,NaN,COMPLETED,NaN,1.0,0.0,138.936903
335392,1340163.node129,V_D594N_p,parallel,2014-10-06 14:38:29,2014-10-07 06:55:57,2014-10-07 08:01:57,dmarson0@node129.eurora.cineca.it,1,1,1048576,NaN,NaN,NaN,COMPLETED,NaN,1.0,0.0,139.293671
335393,1340164.node129,V_D594N_p,parallel,2014-10-06 14:38:29,2014-10-07 08:01:58,2014-10-07 09:26:02,dmarson0@node129.eurora.cineca.it,1,1,1048576,NaN,NaN,NaN,COMPLETED,NaN,1.0,0.0,109.888826
335394,1340165.node129,V_D594N_p,parallel,2014-10-06 14:38:29,2014-10-07 09:26:03,2014-10-07 11:42:39,dmarson0@node129.eurora.cineca.it,1,1,1048576,NaN,NaN,NaN,COMPLETED,NaN,1.0,0.0,68.515095
335395,1340166.node129,V_L597Q_p,parallel,2014-10-06 14:38:30,2014-10-07 05:58:58,2014-10-07 07:05:04,dmarson0@node129.eurora.cineca.it,1,1,1048576,NaN,NaN,NaN,COMPLETED,NaN,1.0,0.0,148.826164
335396,1340167.node129,V_L597Q_p,parallel,2014-10-06 14:38:30,2014-10-07 07:05:05,2014-10-07 08:11:08,dmarson0@node129.eurora.cineca.it,1,1,1048576,NaN,NaN,NaN,COMPLETED,NaN,1.0,0.0,148.938654
335397,1340168.node129,V_L597Q_p,parallel,2014-10-06 14:38:30,2014-10-07 08:11:08,2014-10-07 09:29:12,dmarson0@node129.eurora.cineca.it,1,1,1048576,NaN,NaN,NaN,COMPLETED,NaN,1.0,0.0,126.200662
335398,1340169.node129,V_L597Q_p,parallel,2014-10-06 14:38:30,2014-10-07 09:29:13,2014-10-07 11:45:38,dmarson0@node129.eurora.cineca.it,1,1,1048576,NaN,NaN,NaN,COMPLETED,NaN,1.0,0.0,73.357245
335399,1340170.node129,V_L597Q_p,parallel,2014-10-06 14:38:31,2014-10-07 11:45:40,2014-10-07 14:02:31,dmarson0@node129.eurora.cineca.it,1,1,1048576,NaN,NaN,NaN,COMPLETED,NaN,1.0,0.0,85.645898
335400,1340171.node129,V_V600K_p,parallel,2014-10-06 14:38:31,2014-10-07 06:08:12,2014-10-07 07:14:13,dmarson0@node129.eurora.cineca.it,1,1,1048576,NaN,NaN,NaN,COMPLETED,NaN,1.0,0.0,144.677740
335401,1340172.node129,V_V600K_p,parallel,2014-10-06 14:38:32,2014-10-07 07:14:14,2014-10-07 08:20:16,dmarson0@node129.eurora.cineca.it,1,1,1048576,NaN,NaN,NaN,COMPLETED,NaN,1.0,0.0,144.577927
335402,1340173.node129,V_V600K_p,parallel,2014-10-06 14:38:32,2014-10-07 08:20:17,2014-10-07 09:26:27,dmarson0@node129.eurora.cineca.it,1,1,1048576,NaN,NaN,NaN,COMPLETED,NaN,1.0,0.0,144.793705
335403,1340174.node129,V_V600K_p,parallel,2014-10-06 14:38:32,2014-10-07 09:26:28,2014-10-07 10:33:06,dmarson0@node129.eurora.cineca.it,1,1,1048576,NaN,NaN,NaN,COMPLETED,NaN,1.0,0.0,144.262900
335404,1340175.node129,V_V600K_p,parallel,2014-10-06 14:38:33,2014-10-07 11:07:20,2014-10-07 13:23:19,dmarson0@node129.eurora.cineca.it,1,1,1048576,NaN,NaN,NaN,COMPLETED,NaN,1.0,0.0,68.584513
335405,1340176.node129,D_G596R_p,parallel,2014-10-06 14:40:09,2014-10-07 06:16:02,2014-10-07 08:50:30,dmarson0@node129.eurora.cineca.it,1,1,1048576,NaN,NaN,NaN,COMPLETED,NaN,1.0,0.0,140.497005
335406,1340177.node129,D_G596R_p,parallel,2014-10-06 14:40:10,2014-10-07 08:51:02,2014-10-07 11:07:18,dmarson0@node129.eurora.cineca.it,1,1,1048576,NaN,NaN,NaN,COMPLETED,NaN,1.0,0.0,68.531865
335407,1340178.node129,D_G596R_p,parallel,2014-10-06 14:40:10,2014-10-07 11:22:01,2014-10-07 13:39:15,dmarson0@node129.eurora.cineca.it,1,1,1048576,NaN,NaN,NaN,COMPLETED,NaN,1.0,0.0,73.170967
335409,1340181.node129,D_G596V_p,parallel,2014-10-06 14:40:10,2014-10-07 08:14:18,2014-10-07 09:19:44,dmarson0@node129.eurora.cineca.it,1,1,1048576,NaN,NaN,NaN,COMPLETED,NaN,1.0,0.0,144.178687
335410,1340182.node129,D_G596V_p,parallel,2014-10-06 14:40:11,2014-10-07 09:19:45,2014-10-07 11:52:21,dmarson0@node129.eurora.cineca.it,1,1,1048576,NaN,NaN,NaN,COMPLETED,NaN,1.0,0.0,140.858629
335411,1340183.node129,D_G596V_p,parallel,2014-10-06 14:40:11,2014-10-07 11:52:23,2014-10-07 14:15:39,dmarson0@node129.eurora.cineca.it,1,1,1048576,NaN,NaN,NaN,COMPLETED,NaN,1.0,0.0,141.151371
335413,1340186.node129,D_V600K_p,parallel,2014-10-06 14:40:11,2014-10-07 08:15:53,2014-10-07 09:21:42,dmarson0@node129.eurora.cineca.it,1,1,1048576,NaN,NaN,NaN,COMPLETED,NaN,1.0,0.0,142.789470
335414,1340187.node129,D_V600K_p,parallel,2014-10-06 14:40:11,2014-10-07 09:21:43,2014-10-07 11:57:05,dmarson0@node129.eurora.cineca.it,1,1,1048576,NaN,NaN,NaN,COMPLETED,NaN,1.0,0.0,144.277672
335415,1340188.node129,D_V600K_p,parallel,2014-10-06 14:40:12,2014-10-07 11:57:06,2014-10-07 14:10:10,dmarson0@node129.eurora.cineca.it,1,1,1048576,NaN,NaN,NaN,COMPLETED,NaN,1.0,0.0,85.999960
335417,1340191.node129,V_D594A_p,parallel,2014-10-06 14:40:12,2014-10-07 09:06:09,2014-10-07 11:21:59,dmarson0@node129.eurora.cineca.it,1,1,1048576,NaN,NaN,NaN,COMPLETED,NaN,1.0,0.0,73.348295
335418,1340192.node129,V_D594A_p,parallel,2014-10-06 14:40:12,2014-10-07 11:42:41,2014-10-07 13:58:53,dmarson0@node129.eurora.cineca.it,1,1,1048576,NaN,NaN,NaN,COMPLETED,NaN,1.0,0.0,86.532696
335420,1340196.node129,V_D594N_p,parallel,2014-10-06 14:40:13,2014-10-07 12:24:33,2014-10-07 14:40:13,dmarson0@node129.eurora.cineca.it,1,1,1048576,NaN,NaN,NaN,COMPLETED,NaN,1.0,0.0,86.226347
335425,1340212.node129,nst.sh,debug,2014-10-06 14:44:34,2014-10-06 14:44:35,2014-10-06 15:00:47,msaba000@node129.eurora.cineca.it,1,16,14680064,NaN,NaN,NaN,COMPLETED,NaN,2.0,0.0,121.263399
335426,1340213.node129,a7_wat_epj,parallel,2014-10-06 14:57:30,2014-10-06 15:38:06,2014-10-06 17:42:20,ggrazios@node040.eurora.cineca.it,1,16,14680064,NaN,NaN,NaN,COMPLETED,NaN,1.0,0.0,133.441307
335541,1340343.node129,STDIN,parallel,2014-10-06 15:30:16,2014-10-06 16:08:05,2014-10-06 16:53:00,vruggie1@node129.eurora.cineca.it,1,16,14680064,NaN,NaN,NaN,COMPLETED,NaN,0.0,1.0,202.056751
335576,1340399.node129,opnRNA,debug,2014-10-06 15:51:05,2014-10-06 16:03:57,2014-10-06 16:26:10,glapenna@node129.eurora.cineca.it,1,1,14680064,NaN,NaN,NaN,COMPLETED,NaN,2.0,0.0,88.122056

In [101]:
infile_jobs = datadir + "CPUs/" + interval_comment + "/Alina_jobs_real_pow_64_381008_cpu"
jobs_whole = pd.read_csv(infile_jobs + ".csv", index_col=0)
print("jobs_whole_data contains {} records".format(jobs_whole.shape[0]))

jobs_whole_data contains 336787 records

/usr/local/lib/python3.5/dist-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (11) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [102]:
interval_jobs.shape

(336787, 18)

In [103]:
jobs_whole['real_pow_acc'] = interval_jobs['real_pow_acc']

In [104]:
outfile = datadir + "CPUs/" + interval_comment + "/Alina_jobs_real_pow" 
jobs_whole.to_csv(outfile + ".csv")

In [36]:
#job_index = interval_jobs[(interval_jobs['real_pow'] != 0.0) & (interval_jobs['job_timepoints'] == 0)].index

In [38]:
#interval_jobs.at[job_index, 'job_timepoints'] = 1

In [40]:
interval_jobs['real_pow_quality'] = 1 - (interval_jobs['job_timepoints'] / interval_jobs['job_tot_timepoints'])

In [41]:
outfile = datadir + 'CPUs/' + interval_comment + "/" + interval_comment + "_jobs_real_pow"
interval_jobs.to_csv(outfile + ".csv")

In [ ]:
#debug

In [2]:
infile_jobs = datadir + "CPUs/" + interval_comment + "/Alina_jobs_real_pow"
jobs = pd.read_csv(infile_jobs + ".csv", index_col=0)
print("jobs_data contains {} records".format(jobs.shape[0]))

jobs_data contains 336787 records

/usr/local/lib/python3.5/dist-packages/IPython/core/interactiveshell.py:3049: DtypeWarning: Columns (11) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
jobs['real_pow_quality'].mean()

0.5942813919519043

In [4]:
#job_end_time - job_start_time >= np.timedelta64(5, 's')


#job_index_0 = jobs[(jobs['job_tot_timepoints'] == 1) & (jobs['job_timepoints'] == 0)].index
#job_index_1 = jobs[(jobs['job_tot_timepoints'] == 1) & (jobs['job_timepoints'] == 1)].index

In [6]:
short_jobs = jobs[(pd.to_datetime(jobs['end_time']) - pd.to_datetime(jobs['run_start_time']) < np.timedelta64(5, 's'))]
long_jobs = jobs[(pd.to_datetime(jobs['end_time']) - pd.to_datetime(jobs['run_start_time']) >= np.timedelta64(5, 's'))]

In [8]:
print("{} {}".format(jobs.shape[0], short_jobs.shape[0] + long_jobs.shape[0]))

336787 336787

In [11]:
short_jobs[['job_timepoints', 'job_tot_timepoints']]

        job_timepoints  job_tot_timepoints
job_id
205795               1                   1
205796               1                   1
205797               1                   1
205798               1                   1
205799               1                   1
205802               1                   1
205803               1                   1
205804               1                   1
205805               1                   1
205806               1                   1
205811               1                   1
205812               1                   1
205813               1                   1
205814               1                   1
205815               1                   1
205817               1                   1
205818               1                   1
205819               1                   1
205820               1                   1
205821               1                   1
205824               1                   1
205825               1                   1
205826               1                   1
205827               1                   1
205828               1                   1
205831               1                   1
205832               1                   1
205833               1                   1
205834               1                   1
205835               1                   1
...                ...                 ...
189823               1                   1
189828               1                   1
189829               1                   1
189839               1                   1
189849               1                   1
189850               1                   1
189852               1                   1
189853               1                   1
189854               1                   1
189857               1                   1
189858               1                   1
189859               1                   1
189861               1                   1
189862               1                   1
189863               1                   1
189867               1                   1
189868               1                   1
189877               1                   1
189878               1                   1
189885               1                   1
189886               1                   1
189887               1                   1
190720               1                   1
190721               1                   1
190725               1                   1
190727               1                   1
190771               1                   1
191537               1                   1
201858               1                   1
205452               1                   1

[145098 rows x 2 columns]

In [12]:
short_jobs['job_timepoints'] = short_jobs['job_tot_timepoints'] - short_jobs['job_timepoints']

/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [13]:
short_jobs[['job_timepoints', 'job_tot_timepoints']]

        job_timepoints  job_tot_timepoints
job_id
205795               0                   1
205796               0                   1
205797               0                   1
205798               0                   1
205799               0                   1
205802               0                   1
205803               0                   1
205804               0                   1
205805               0                   1
205806               0                   1
205811               0                   1
205812               0                   1
205813               0                   1
205814               0                   1
205815               0                   1
205817               0                   1
205818               0                   1
205819               0                   1
205820               0                   1
205821               0                   1
205824               0                   1
205825               0                   1
205826               0                   1
205827               0                   1
205828               0                   1
205831               0                   1
205832               0                   1
205833               0                   1
205834               0                   1
205835               0                   1
...                ...                 ...
189823               0                   1
189828               0                   1
189829               0                   1
189839               0                   1
189849               0                   1
189850               0                   1
189852               0                   1
189853               0                   1
189854               0                   1
189857               0                   1
189858               0                   1
189859               0                   1
189861               0                   1
189862               0                   1
189863               0                   1
189867               0                   1
189868               0                   1
189877               0                   1
189878               0                   1
189885               0                   1
189886               0                   1
189887               0                   1
190720               0                   1
190721               0                   1
190725               0                   1
190727               0                   1
190771               0                   1
191537               0                   1
201858               0                   1
205452               0                   1

[145098 rows x 2 columns]

In [14]:
short_jobs['job_timepoints'].sum()

17215

In [15]:
short_jobs.shape[0]

145098

In [16]:
jobs_2 = pd.concat([short_jobs, long_jobs])

In [17]:
jobs['real_pow_quality'] = 1.0 - (jobs['job_timepoints'] / jobs['job_tot_timepoints'])
jobs['real_pow_quality'].mean()

0.5942813919519043

In [18]:
jobs_2['real_pow_quality'] = 1.0 - (jobs_2['job_timepoints'] / jobs_2['job_tot_timepoints'])
jobs_2['real_pow_quality'].mean()

0.9237523929109674

In [19]:
outfile = datadir + 'CPUs/' + interval_comment + "/" + interval_comment + "_jobs_real_pow"
jobs_2.to_csv(outfile + ".csv")

In [10]:
infile_jobs = datadir + "CPUs/" + interval_comment + "/Alina_long_jobs_real_pow"
jobs = pd.read_csv(infile_jobs + ".csv", index_col=0)
print("jobs_data contains {} records".format(jobs.shape[0]))

jobs_data contains 336787 records

In [11]:
jobs['real_pow_quality'].mean()

0.45639819188001324

In [12]:
jobs['real_pow_quality_2'] = 1.0 - (jobs['job_timepoints'] / jobs['job_tot_timepoints'])

In [13]:
jobs['real_pow_quality_2'].mean()

0.5436018081199867